<template>
    <div class="custom-card">
        <el-tabs v-model="activeTabName">
            <el-tab-pane label="Incomes" name="incomes" v-loading="incomesTabIsLoading">
                <IncomeList />
            </el-tab-pane>
            <el-tab-pane label="Recurrences" name="recurrences" v-loading="recurrencesTabIsLoading">
                <IncomeRecurrenceList />
            </el-tab-pane>
            <el-tab-pane label="Reports" name="reports" :disabled="true"></el-tab-pane>
        </el-tabs>
    </div>
</template>

<script lang="ts" setup>
import IncomeList from '@/income/components/income-components/IncomeList.vue';
import IncomeRecurrenceList from '@/income/components/income-recurrence-components/IncomeRecurrenceList.vue';
import { useIncomeRecurrenceStore } from '@/income/store/income-recurrence.store';
import { useIncomeStore } from '@/income/store/income.store';
import { storeToRefs } from 'pinia';
import { computed, ref } from 'vue';

type TabName = 'incomes' | 'recurrences' | 'reports';
const activeTabName = ref<TabName>( 'incomes' );

const incomeStore = useIncomeStore();
const incomeRecurrenceStore = useIncomeRecurrenceStore();

const { incomesAreLoading, deleteIncomeIsLoading, createIncomeIsLoading } = storeToRefs( incomeStore );
const {
          incomeRecurrencesAreLoading,
          createIncomeRecurrenceIsLoading,
          deleteIncomeRecurrenceIsLoading
      } = storeToRefs( incomeRecurrenceStore );

const incomesTabIsLoading = computed( () => {
    return incomesAreLoading.value
        || deleteIncomeIsLoading.value
        || createIncomeIsLoading.value;
} );

const recurrencesTabIsLoading = computed( () => {
    return incomeRecurrencesAreLoading.value
        || createIncomeRecurrenceIsLoading.value
        || deleteIncomeRecurrenceIsLoading.value;
} );
</script>

<style scoped>

</style>
