<template>
    <el-checkbox v-model="value" :label="props.data.label" @change="onInput" />
</template>

<script lang="ts" setup>
import { CheckboxInputProps } from '@/shared/interfaces/input-props/checkbox-input-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: CheckboxInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: boolean | null): void
}>();

const value = ref<boolean | null>( props.data.value.value ?? null );

const onInput = (value: boolean | null) => {
    emit( 'input', value );
};
</script>

<style scoped>

</style>
