<template>
    <el-date-picker v-model="value"
                    type="daterange"
                    unlink-panels
                    range-separator="To"
                    start-placeholder="Start date"
                    end-placeholder="End date"
                    :shortcuts="shortcuts"
                    :placeholder="props.data.placeholder"
                    @calendar-change="onInput"
                    @change="onInput"
                    style="width: 100%"
                    clearable />
</template>

<script lang="ts" setup>
import { DateRange } from '@/shared/interfaces/date/date-range.interface';
import { DateRangeInputProps } from '@/shared/interfaces/input-props/date-range-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: DateRangeInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: DateRange | null): void
}>();

const value = ref<DateRange | null>( props.data.value.value ?? null );

const onInput = (value: Date[] | null) => {
    const [ startDate, endDate ] = value ?? [ null, null ];
    emit( 'input', { startDate, endDate } );
};

const shortcuts = [
    {
        text : 'Last week',
        value: () => {
            const end = new Date();
            const start = new Date();
            start.setTime( start.getTime() - 3600 * 1000 * 24 * 7 );
            return [ start, end ];
        }
    },
    {
        text : 'Last month',
        value: () => {
            const end = new Date();
            const start = new Date();
            start.setTime( start.getTime() - 3600 * 1000 * 24 * 30 );
            return [ start, end ];
        }
    },
    {
        text : 'Last 3 months',
        value: () => {
            const end = new Date();
            const start = new Date();
            start.setTime( start.getTime() - 3600 * 1000 * 24 * 90 );
            return [ start, end ];
        }
    }
];
</script>

<style scoped>

</style>
