<template>
    <el-date-picker v-model="value"
                    type="date"
                    :placeholder="props.data.placeholder"
                    :disabled-date="props.data.disabledDates"
                    @change="onInput"
                    style="width: 100%"
                    clearable />
</template>

<script lang="ts" setup>
import { DateInputProps } from '@/shared/interfaces/input-props/date-input-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: DateInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: Date | null): void
}>();

const value = ref<Date | null>( props.data.value.value ?? null );

const onInput = (value: Date | null) => {
    emit( 'input', value );
};
</script>

<style scoped>

</style>
