<template>
    <el-input-number v-model="value"
                     :placeholder="props.data.placeholder"
                     :min="0.01"
                     :step="0.1"
                     :precision="2"
                     :step-strictly="true"
                     :controls="false"
                     controls-position="right"
                     @change="onChange"
                     style="width: 100%">
        <template #append>{{ props.data.currency }}</template>
    </el-input-number>
</template>

<script lang="ts" setup>
import { parseDecimalMoneyValueToInteger } from '@/shared/functions/money.functions';
import { MoneyInputProps } from '@/shared/interfaces/input-props/money-input-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: MoneyInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: number | null): void
}>();

const value = ref<number | null>( props.data.value.value ?? null );

const onChange = (value: number | null) => {
    emit( 'input', parseDecimalMoneyValueToInteger( value ) );
};
</script>

<style scoped>

</style>
