<template>
    <el-input-number v-model="value"
                     :placeholder="props.data.placeholder"
                     :min="props.data.min"
                     :step="props.data.step"
                     :step-strictly="true"
                     :controls="true"
                     controls-position="right"
                     @change="onChange"
                     style="width: 100%"
                     clearable />
</template>

<script lang="ts" setup>
import { NumberInputProps } from '@/shared/interfaces/input-props/number-input-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: NumberInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: number | null): void
}>();

const value = ref<number | null>( props.data.value.value ?? null );

const onChange = (value: number | null) => {
    emit( 'input', value );
};
</script>

<style scoped>

</style>
