<template>
    <el-input v-model="value"
              type="password"
              show-password
              clearable
              @input="onChange" />
</template>

<script lang="ts" setup>
import { PasswordInputProps } from '@/shared/interfaces/input-props/password-input-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: PasswordInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: string | null): void
}>();

const value = ref<string | null>( props.data.value.value ?? null );

const onChange = (value: string | null) => {
    emit( 'input', value?.trim() ?? null );
};
</script>

<style scoped>

</style>
