<template>
    <el-input v-model="value"
              :placeholder="props.data.placeholder"
              @input="onInput"
              clearable />
</template>

<script lang="ts" setup>
import { TextInputProps } from '@/shared/interfaces/input-props/text-input-props.interface';
import { ref } from 'vue';

const props = defineProps<{
    data: TextInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', value: string | null): void
}>();

const value = ref<string | null>( props.data.value.value ?? null );

const onInput = (value: string | null) => {
    emit( 'input', value?.trim() ?? null );
};
</script>

<style scoped>

</style>
