<template>
    <el-form ref="formRef"
             :model="form"
             :rules="rules"
             :disabled="isLoading"
             :label-position="props.labelPosition ?? 'left'"
             label-width="120px"
             size="default">
        <InputWrapper v-for="field in props.fields"
                      :data="field"
                      :key="field.prop"
                      :hide-label="props.hideLabels || field.type === FormFieldTypeEnum.Checkbox">
            <TextInput v-if="field.type === FormFieldTypeEnum.Text" :data="field" @input="updateForm(field.prop, $event)" />
            <NumberInput v-if="field.type === FormFieldTypeEnum.Number" :data="field" @input="updateForm(field.prop, $event)" />
            <DateInput v-if="field.type === FormFieldTypeEnum.Date" :data="field" @input="updateForm(field.prop, $event)" />
            <MoneyInput v-if="field.type === FormFieldTypeEnum.Money" :data="field" @input="updateForm(field.prop, $event)" />
            <DateRangeInput v-if="field.type === FormFieldTypeEnum.DateRange" :data="field" @input="updateForm(field.prop, $event)" />
            <SellerInput v-if="field.type === FormFieldTypeEnum.Seller" :data="field" @input="updateForm(field.prop, $event)" />
            <CategoryInput v-if="field.type === FormFieldTypeEnum.Category" :data="field" @input="updateForm(field.prop, $event)" />
            <PasswordInput v-if="field.type === FormFieldTypeEnum.Password" :data="field" @input="updateForm(field.prop, $event)" />
            <CheckboxInput v-if="field.type === FormFieldTypeEnum.Checkbox" :data="field" @input="updateForm(field.prop, $event)" />
        </InputWrapper>
        <el-form-item>
            <el-button type="primary"
                       @click="submitForm(formRef)"
                       :icon="Check"
                       :disabled="isLoading"
                       :loading="isLoading"
                       :style="fullWidthSubmitButton ? 'width: 100%;' : ''">{{ props.submitButtonText ?? 'Save' }}
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts" setup>
import CategoryInput from '@/category/components/CategoryInput.vue';
import SellerInput from '@/seller/components/SellerInput.vue';
import InputWrapper from '@/shared/components/forms/helpers/InputWrapper.vue';
import CheckboxInput from '@/shared/components/forms/inputs/CheckboxInput.vue';
import DateInput from '@/shared/components/forms/inputs/DateInput.vue';
import DateRangeInput from '@/shared/components/forms/inputs/DateRangeInput.vue';
import MoneyInput from '@/shared/components/forms/inputs/MoneyInput.vue';
import NumberInput from '@/shared/components/forms/inputs/NumberInput.vue';
import PasswordInput from '@/shared/components/forms/inputs/PasswordInput.vue';
import TextInput from '@/shared/components/forms/inputs/TextInput.vue';
import { FormFieldTypeEnum } from '@/shared/enums/form-field-type.enum';
import { buildValidationRules } from '@/shared/functions/form.functions';
import { FormFields, ValidationRules } from '@/shared/types/form.types';
import { Check } from '@element-plus/icons-vue';
import { FormInstance } from 'element-plus/es';
import { computed, ref } from 'vue';

const props = defineProps<{
    fields: FormFields<any>,
    loading: boolean,
    labelPosition?: 'top' | 'left',
    fullWidthSubmitButton?: boolean,
    submitButtonText?: string,
    hideLabels?: boolean
}>();

const emits = defineEmits<{
    (e: 'submit', data: any): void
}>();

const form = ref<any>( {} );
const formRef = ref<FormInstance>();

const rules: ValidationRules = buildValidationRules( props.fields );

const isLoading = computed( () => props.loading );

const updateForm = (field: any, newValue: any): void => {
    form.value[field] = newValue;
    props.fields[field].value = newValue;
};

const submitForm = (formEl?: FormInstance) => {
    formEl?.validate( (valid) => {
        if( valid ) {
            emits( 'submit', form.value );
        }
    } );
};
</script>

<style scoped>

</style>
