<template>
    <el-form-item :label="!props.hideLabel ? props.data.label : ''" :prop="props.data.prop">
        <slot />
    </el-form-item>
</template>

<script lang="ts" setup>

import { InputProps } from '@/shared/interfaces/input-props/input-props.interface';

const props = defineProps<{
    data: InputProps<any, any>,
    hideLabel?: boolean
}>();
</script>

<style scoped>

</style>
