<template>
    <div class="row w-100">
        <div class="col-4">
            <ExpenseUpdateForm :initial-values="expense"
                               :submit-is-loading="updateExpenseIsLoading"
                               @update-expense="updateExpense" />
        </div>
        <div class="col-8">
            <ExpenseValuesForm :expense-values="expenseRef.values"
                               :expense-id="expense.id"
                               :loading="expenseValuesAreLoading"
                               @create-expense-value="createExpenseValue"
                               @update-expense-value="updateExpenseValue"
                               @delete-expense-value="deleteExpenseValue" />
        </div>
    </div>
</template>

<script lang="ts" setup>

import { StoreStatusEnum } from '@/config/constants/store.constants';
import ExpenseUpdateForm from '@/expense/components/expense-components/ExpenseUpdateForm.vue';
import ExpenseValuesForm from '@/expense/components/expense-components/ExpenseValuesForm.vue';
import { CreateExpenseValueDto, DeleteExpenseValueDto, UpdateExpenseValueDto } from '@/expense/dtos/expense-value.dtos';
import { ExpenseDto, UpdateExpenseDto } from '@/expense/dtos/expense.dtos';
import { useExpenseValueStore } from '@/expense/store/expense-value.store';
import { useExpenseStore } from '@/expense/store/expense.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { computed, ref } from 'vue';

const props = defineProps<{
    expense: ExpenseDto
}>();

const expenseRef = ref( props.expense );

const expenseStore = useExpenseStore();
const expenseValueStore = useExpenseValueStore();

const { updateExpenseIsLoading } = storeToRefs( expenseStore );
const { createExpenseValueIsLoading, updateExpenseValueIsLoading, deleteExpenseValueIsLoading } = storeToRefs( expenseValueStore );

const updateExpense = (data: UpdateExpenseDto) => expenseStore.updateExpense( data );

const createExpenseValue = (data: CreateExpenseValueDto) => expenseValueStore.createExpenseValue( data );

const updateExpenseValue = (data: UpdateExpenseValueDto) => expenseValueStore.updateExpenseValue( data, props.expense.id );

const deleteExpenseValue = (data: DeleteExpenseValueDto) => expenseValueStore.deleteExpenseValue( data, props.expense.id );

const expenseValuesAreLoading = computed( () => {
    return createExpenseValueIsLoading.value
        || updateExpenseValueIsLoading.value
        || deleteExpenseValueIsLoading.value;
} );

expenseStore.$subscribe( (_, state) => {
    if( state.update.status === StoreStatusEnum.Success ) {
        ElMessage( {
                       message: 'Expense info updated successfully',
                       type   : 'success'
                   } );
    }
} );

expenseValueStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Expense value added successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Expense value updated successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.delete?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Expense value removed successfully',
                           type   : 'success'
                       } );
        }

        expenseRef.value = expenseStore.expenseById( props.expense.id );
    }
} );
</script>

<style scoped>

</style>
