<template>
    <div>
        <div class="d-flex align-items-center justify-content-start mt-3" v-if="selectionIsOn">
            <el-popconfirm
                title="Are you sure you want to delete the selected expenses?"
                confirm-button-text="Yes"
                cancel-button-text="No"
                :icon="WarningFilled"
                icon-color="#f56c6c"
                @confirm="onDeleteSelectedButtonClick()">
                <template #reference>
                    <el-button type="danger" :icon="Delete" size="small">Delete selected</el-button>
                </template>
            </el-popconfirm>
            <el-popconfirm
                title="Are you sure you want to delete the selected expenses?"
                confirm-button-text="Yes"
                cancel-button-text="No"
                :icon="WarningFilled"
                icon-color="#f56c6c"
                @confirm="onExcludeSelectedFromBudgetButtonClick()">
                <template #reference>
                    <el-button type="danger" :icon="CircleClose" size="small" plain>Exclude selected from budget</el-button>
                </template>
            </el-popconfirm>
        </div>
        <el-table :data="props.expenses"
                  ref="expensesTable"
                  class="w-100 mt-3"
                  table-layout="auto"
                  :flexible="true"
                  @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55" />
            <el-table-column prop="name" label="Name">
                <template #default="scope">
                    <div class="d-flex align-items-center justify-content-start">
                        <span>{{ scope.row.name }}</span>
                        <el-tooltip v-if="scope.row.excludeFromBudget"
                                    content="Excluded from budget"
                                    placement="top">
                            <el-icon :size="15" style="color: #F56C6C; margin-left: 5px">
                                <CircleClose />
                            </el-icon>
                        </el-tooltip>
                        <el-tooltip v-if="scope.row.recurrence"
                                    content="Added from recurrence"
                                    placement="top">
                            <el-icon :size="15" style="color: #67C23A; margin-left: 5px">
                                <Refresh />
                            </el-icon>
                        </el-tooltip>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="Date" :formatter="dateFormatter" />
            <el-table-column prop="seller.name" label="Seller" />
            <el-table-column label="Categories" :formatter="expenseCategoriesFormatter" />
            <el-table-column label="Total">
                <template #default="scope"><strong>{{ expenseTotalFormatter(scope.row) }}</strong></template>
            </el-table-column>
            <el-table-column label="Operations">
                <template #default="scope" v-if="!selectionIsOn">
                    <el-button
                        :icon="Edit"
                        circle
                        plain
                        @click="onEditButtonClick(scope.$index, scope.row)"></el-button>
                    <el-popconfirm
                        title="Delete this expense?"
                        confirm-button-text="Yes"
                        cancel-button-text="No"
                        :icon="WarningFilled"
                        icon-color="#f56c6c"
                        @confirm="onDeleteButtonClick(scope.$index, scope.row)">
                        <template #reference>
                            <el-button
                                type="danger"
                                :icon="Delete"
                                circle
                                plain></el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script lang="ts" setup>
import { ExpenseDto } from '@/expense/dtos/expense.dtos';
import { DateFormat } from '@/shared/enums/date-format.enum';
import { formatDate } from '@/shared/functions/date.functions';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { CircleClose, Delete, Edit, Refresh, WarningFilled } from '@element-plus/icons-vue';
import { ElTable } from 'element-plus/es';
import { TableColumnCtx } from 'element-plus/es/components/table/src/table-column/defaults';
import { computed, ref, watch } from 'vue';

const props = defineProps<{
    expenses: ExpenseDto[],
}>();
const emit = defineEmits<{
    (e: 'expenseEditButtonClick', expense: ExpenseDto): void,
    (e: 'expenseDeleteButtonClick', expense: ExpenseDto): void,
    (e: 'selectedExpensesDeleteButtonClick', expenses: ExpenseDto[]): void,
    (e: 'selectedExpensesExcludeFromBudgetButtonClick', expenses: ExpenseDto[]): void
}>();

const expensesTable = ref<InstanceType<typeof ElTable>>();
const selectedExpenses = ref<ExpenseDto[]>( [] );
const selectionIsOn = computed( () => selectedExpenses.value.length > 0 );

const expenseCategoriesFormatter = (row: ExpenseDto, _: TableColumnCtx<ExpenseDto>): string => {
    return row.values.map( v => v.category.name )
              .join( ', ' );
};

const expenseTotalFormatter = (expense: ExpenseDto): string => {
    return `RON ${ parseIntegerMoneyValueToDecimalString( expense.total ) }`;
};

const dateFormatter = (expense: ExpenseDto): string | undefined => {
    return formatDate( expense.date, DateFormat.ForDisplay );
};

const onEditButtonClick = (_: number, expense: ExpenseDto) => {
    emit( 'expenseEditButtonClick', expense );
};

const onDeleteButtonClick = (_: number, expense: ExpenseDto) => {
    emit( 'expenseDeleteButtonClick', expense );
};

const handleSelectionChange = (expenses: ExpenseDto[]) => {
    selectedExpenses.value = expenses;
};

const onDeleteSelectedButtonClick = () => {
    emit( 'selectedExpensesDeleteButtonClick', selectedExpenses.value );
};

const onExcludeSelectedFromBudgetButtonClick = () => {
    emit( 'selectedExpensesExcludeFromBudgetButtonClick', selectedExpenses.value );
};

watch( () => props.expenses, () => {
    selectedExpenses.value = [];
} );
</script>

<style scoped>
</style>
