<template>
    <div>
        <el-form ref="formRef"
                 :model="form"
                 label-position="top"
                 size="default"
                 :disabled="props.loading">
            <el-form-item v-for="(expenseValue, index) in form"
                          style="width: 100%"
                          :key="index"
                          label="Value by category"
                          :prop="'values.' + index + '.value'"
                          :rules="{required: true, message: 'Expense value cannot be null', trigger: ['blur', 'change', 'input']}">
                <div class="row w-100">
                    <div class="col-3">
                        <el-input v-model.number="expenseValue.value"
                                  placeholder="Value"
                                  type="number"
                                  :min="0"
                                  step=".01"
                                  inputmode="decimal"
                                  clearable>
                            <template #append>RON</template>
                        </el-input>
                    </div>
                    <div class="col-5">
                        <el-autocomplete v-model="expenseValue.categoryName"
                                         value-key="categoryId"
                                         :fetch-suggestions="categorySearch"
                                         :trigger-on-focus="true"
                                         placeholder="Select category"
                                         @select="handleCategorySelect($event, index)"
                                         clearable>
                            <template #default="{item}">
                                <div class="value">{{ item.name }}</div>
                            </template>
                        </el-autocomplete>
                    </div>
                    <div class="col-4">
                        <el-button v-if="expenseValueWasChangedOrIsNew(expenseValue)"
                                   type="primary"
                                   @click.prevent="saveExpenseValue(expenseValue)"
                                   :icon="Check"></el-button>
                        <el-button v-if="areAtLeastTwoExpenseValuesSaved() || !expenseValue.id"
                                   @click.prevent="removeExpenseValue(expenseValue)"
                                   :icon="Close"></el-button>
                    </div>
                </div>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addExpenseValue" :icon="Plus" link>Add expense value</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script lang="ts" setup>
import { CategoryDto } from '@/category/dtos/category.dtos';
import { useCategoryStore } from '@/category/store/category.store';
import { CreateExpenseValueDto, DeleteExpenseValueDto, ExpenseValueDto, UpdateExpenseValueDto } from '@/expense/dtos/expense-value.dtos';
import { parseDecimalMoneyValueToInteger, parseIntegerMoneyValueToDecimal } from '@/shared/functions/money.functions';
import { isDefined, valueIsEmpty } from '@/shared/functions/validation.functions';
import { Check, Close, Plus } from '@element-plus/icons-vue';
import { FormInstance } from 'element-plus';
import { storeToRefs } from 'pinia';
import { onMounted, ref, watch } from 'vue';

const props = defineProps<{
    expenseId: string,
    expenseValues: ExpenseValueDto[],
    loading: boolean
}>();

const emit = defineEmits<{
    (e: 'createExpenseValue', data: CreateExpenseValueDto): void,
    (e: 'updateExpenseValue', data: UpdateExpenseValueDto): void,
    (e: 'deleteExpenseValue', data: DeleteExpenseValueDto): void
}>();

onMounted( () => {
    setForm();
    categoryStore.loadAllExpenseCategories();
} );

const categoryStore = useCategoryStore();

const { list: categoryList } = storeToRefs( categoryStore );

const formRef = ref<FormInstance>();
const form = ref<UpdateExpenseValueDto[]>( [] );

const setForm = () => {
    form.value = props.expenseValues.map( ev => (
        {
            id          : ev.id,
            value       : parseIntegerMoneyValueToDecimal( ev.value ),
            categoryId  : ev.category.id,
            categoryName: ev.category.name
        }
    ) );
};

const resetForm = () => {
    formRef.value?.resetFields();
};

const addExpenseValue = () => form.value.push( { id: '', value: 0, categoryId: '', categoryName: '' } );

const saveExpenseValue = (data: UpdateExpenseValueDto) => {
    if( valueIsEmpty( data.value ) || data.value === 0 || valueIsEmpty( data.categoryId ) ) {
        return;
    }
    return valueIsEmpty( data.id )
           ? createExpenseValue( data )
           : updateExpenseValue( data );
};

const createExpenseValue = (data: UpdateExpenseValueDto) => {
    const createData: CreateExpenseValueDto = {
        expenseId : props.expenseId,
        value     : parseDecimalMoneyValueToInteger( data.value )!,
        categoryId: data.categoryId
    };
    emit( 'createExpenseValue', createData );
};

const updateExpenseValue = (data: UpdateExpenseValueDto) => {
    emit( 'updateExpenseValue', { ...data, value: parseDecimalMoneyValueToInteger( data.value ) } );
};

const removeExpenseValue = (data: UpdateExpenseValueDto) => {
    if( valueIsEmpty( data.id ) ) {
        const index = form.value.indexOf( data );
        if( index !== -1 ) {
            form.value.splice( index, 1 );
        }
        return;
    }

    emit( 'deleteExpenseValue', { id: data.id } );
};

const categorySearch = (queryString: string | null, cb: (arg: any) => void) => {
    const categories =
              !isDefined( queryString )
              ? categoryList.value
              : categoryList.value.filter( category => category.name.toLowerCase()
                                                               .indexOf( queryString.toLowerCase() ) === 0 );
    cb( categories );
};

const handleCategorySelect = (category: CategoryDto, index: number) => {
    form.value.forEach( (value, idx) => {
        if( idx === index ) {
            value.categoryId = category.id;
            value.categoryName = category.name;
        }
    } );
};

const expenseValueWasChangedOrIsNew = (currentData: UpdateExpenseValueDto): boolean => {
    const originalExpenseValue = props.expenseValues.find( ev => ev.id === currentData.id );

    if( !isDefined( originalExpenseValue ) ) {
        return true;
    }

    return currentData.value !== parseIntegerMoneyValueToDecimal( originalExpenseValue.value )
        || currentData.categoryId !== originalExpenseValue.category.id;
};

const areAtLeastTwoExpenseValuesSaved = (): boolean => {
    return form.value.filter( ev => !valueIsEmpty( ev.id ) ).length >= 2;
};

watch( () => props.expenseValues, () => {
    resetForm();
    setForm();
} );
</script>

<style scoped>

</style>
