<template>
    <el-form ref="formRef"
             :model="form"
             :rules="rules"
             label-position="top"
             size="default"
             :disabled="props.submitIsLoading">
        <div class="row">
            <div class="col-6">
                <el-form-item label="Name" prop="name">
                    <el-input v-model="form.name" clearable />
                </el-form-item>
                <el-form-item label="Date" prop="date">
                    <el-date-picker v-model="form.date"
                                    type="date"
                                    placeholder="Pick a date"
                                    :disabled-date="disabledDates"
                                    clearable />
                </el-form-item>
                <el-form-item label="Seller" prop="seller">
                    <el-autocomplete v-model="sellerName"
                                     value-key="name"
                                     :fetch-suggestions="sellerSearch"
                                     :debounce="300"
                                     :trigger-on-focus="false"
                                     placeholder="Search/add seller"
                                     @select="handleSellerSelect"
                                     clearable>
                        <template #default="{item}">
                            <div class="value">{{ item.name }}</div>
                        </template>
                    </el-autocomplete>
                </el-form-item>
                <el-form-item prop="excludeFromBudget">
                    <el-checkbox v-model="form.excludeFromBudget" label="Exclude from budget" />
                </el-form-item>
            </div>
            <div class="col-6">
                <el-form-item v-for="(expenseValue, index) in form.values"
                              :key="index"
                              label="Value by category"
                              :prop="'values.' + index + '.value'"
                              :rules="{required: true, message: 'Expense value cannot be null', trigger: ['blur', 'change', 'input']}">
                    <div class="row">
                        <div class="col-4">
                            <el-input v-model.number="expenseValue.value"
                                      placeholder="Value"
                                      type="number"
                                      :min="0"
                                      step=".01"
                                      inputmode="decimal"
                                      clearable>
                                <template #append>RON</template>
                            </el-input>
                        </div>
                        <div class="col-6">
                            <el-autocomplete v-model="expenseValue.categoryName"
                                             value-key="categoryId"
                                             :fetch-suggestions="categorySearch"
                                             :trigger-on-focus="true"
                                             placeholder="Select category"
                                             @select="handleCategorySelect($event, index)"
                                             clearable>
                                <template #default="{item}">
                                    <div class="value">{{ item.name }}</div>
                                </template>
                            </el-autocomplete>
                        </div>
                        <div class="col-2">
                            <el-button v-if="form.values.length > 1"
                                       @click.prevent="removeExpenseValue(expenseValue)"
                                       :icon="Close"></el-button>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="addExpenseValue" :icon="Plus" link>Add expense value</el-button>
                </el-form-item>
                <el-form-item>
                    <div class="d-flex align-items-center justify-content-end w-100">
                        <span class="mr-1">TOTAL:</span>
                        <strong>{{ expenseTotal }} RON</strong>
                    </div>
                </el-form-item>
            </div>
        </div>
        <div class="mt-5">
            <el-button type="primary"
                       :disabled="props.submitIsLoading"
                       :loading="props.submitIsLoading"
                       @click="submitForm(formRef)" :icon="Check">Save
            </el-button>
        </div>
    </el-form>
</template>

<script lang="ts" setup>
import { CategoryDto } from '@/category/dtos/category.dtos';
import { useCategoryStore } from '@/category/store/category.store';
import { StoreStatusEnum } from '@/config/constants/store.constants';
import { CreateExpenseValueDto } from '@/expense/dtos/expense-value.dtos';
import { CreateExpenseDto } from '@/expense/dtos/expense.dtos';
import { useExpenseStore } from '@/expense/store/expense.store';
import { SellerDto } from '@/seller/dtos/seller.dtos';
import { useSellerStore } from '@/seller/store/seller.store';
import { formatDate } from '@/shared/functions/date.functions';
import { parseDecimalMoneyValueToInteger } from '@/shared/functions/money.functions';
import { isDefined, valueIsEmpty } from '@/shared/functions/validation.functions';
import { Check, Close, Plus } from '@element-plus/icons-vue';
import type { FormInstance, FormRules } from 'element-plus';
import { storeToRefs } from 'pinia';
import { computed, onMounted, reactive, Ref, ref } from 'vue';

const props = defineProps<{
    submitIsLoading: boolean,
}>();
const emit = defineEmits<{
    (e: 'createExpense', data: CreateExpenseDto): void,
}>();

const sellerStore = useSellerStore();
const categoryStore = useCategoryStore();
const expenseStore = useExpenseStore();

const { list: categoryList } = storeToRefs( categoryStore );

const formRef = ref<FormInstance>();
let form = reactive<CreateExpenseDto>(
    {
        name             : '',
        values           : [ { value: 0, categoryId: '' } ],
        date             : null,
        excludeFromBudget: false
    }
);
const sellerName: Ref<string> = ref( '' );
const rules: FormRules = {
    name: [ { required: true, message: 'Required field', trigger: [ 'blur', 'change', 'input' ] } ],
    date: [ { required: true, message: 'Required field', trigger: 'blur' } ]
};

const disabledDates = (date: Date) => date.getTime() > Date.now();

const sellerSearch = async (queryString: string, cb: (arg: any) => void) => {
    const sellers = await sellerStore.searchSellers( queryString );
    form.sellerName = null;
    form.sellerId = null;
    cb( sellers );
};

const handleSellerSelect = (seller: SellerDto) => {
    form.sellerId = seller.id;
};

const categorySearch = (queryString: string | null, cb: (arg: any) => void) => {
    const categories =
              !isDefined( queryString )
              ? categoryList.value
              : categoryList.value.filter( category => category.name.toLowerCase()
                                                               .indexOf( queryString.toLowerCase() ) === 0 );
    cb( categories );
};

const handleCategorySelect = (category: CategoryDto, index: number) => {
    form.values.forEach( (value, idx) => {
        if( idx === index ) {
            value.categoryId = category.id;
            value.categoryName = category.name;
        }
    } );
};

const addExpenseValue = () => {
    form.values.push( { value: 0, categoryId: '' } );
};

const removeExpenseValue = (expenseValue: CreateExpenseValueDto) => {
    const index = form.values.indexOf( expenseValue );
    if( index !== -1 ) {
        form.values.splice( index, 1 );
    }
};

const expenseTotal = computed( () => {
    let total = 0;
    form.values.forEach( v => total += v.value );
    return total.toFixed( 2 );
} );

const submitForm = (formEl?: FormInstance) => {
    formEl?.validate( (valid) => {
        if( valid ) {
            if( !isDefined( form.sellerId ) && !valueIsEmpty( sellerName.value ) ) {
                form.sellerName = sellerName.value;
            }
            emit( 'createExpense', {
                ...form,
                date  : formatDate( form.date )!,
                values: form.values.map( val => (
                    { ...val, value: parseDecimalMoneyValueToInteger( val.value )! }
                ) )
            } );
        }
    } );
};

onMounted( () => {
    categoryStore.loadAllExpenseCategories();
} );

expenseStore.$subscribe( (_, state) => {
    if( state.create.status === StoreStatusEnum.Success ) {
        formRef.value?.resetFields();
    }
} );

</script>

<style scoped>

</style>
