<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4 mt-3">
            <h2 style="margin: 0">Expenses</h2>
            <div>
                <el-button type="primary" @click="openExpenseCreateModal">New expense</el-button>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between w-100">
            <ExpenseListFilters
                :filters="filters"
                @filters-change="onFiltersChange" />
        </div>
        <ExpenseListTable
            :expenses="expenses"
            @expense-delete-button-click="deleteExpense"
            @expense-edit-button-click="openExpenseUpdateModal"
            @selected-expenses-delete-button-click="deleteExpenses"
            @selected-expenses-exclude-from-budget-button-click="excludeExpensesFromBudget" />
        <ExpenseListPagination
            :params="paginationParams"
            :total="totalExpenses"
            @params-change="onPaginationParamsChange" />
        <el-dialog v-model="expenseCreateModalOpened"
                   width="70%"
                   top="3vh"
                   title="Add new expense">
            <ExpenseCreateForm :submit-is-loading="createExpenseIsLoading"
                               @create-expense="createExpense" />
        </el-dialog>
        <el-dialog v-model="expenseUpdateModalOpened"
                   width="70%"
                   top="3vh"
                   title="Update expense">
            <ExpenseUpdate v-if="expenseForEdit" :expense="expenseForEdit" />
        </el-dialog>
    </div>
</template>

<script lang="ts" setup>
import { StoreStatusEnum } from '@/config/constants/store.constants';
import ExpenseCreateForm from '@/expense/components/expense-components/ExpenseCreateForm.vue';
import ExpenseListFilters, { ExpenseListFiltersDto } from '@/expense/components/expense-components/ExpenseListFilters.vue';
import ExpenseListPagination, { ExpenseListPaginationParams } from '@/expense/components/expense-components/ExpenseListPagination.vue';
import ExpenseListTable from '@/expense/components/expense-components/ExpenseListTable.vue';
import ExpenseUpdate from '@/expense/components/expense-components/ExpenseUpdate.vue';
import { CreateExpenseDto, ExpenseDto, ExpenseListQueryParamsDto } from '@/expense/dtos/expense.dtos';
import { ExpenseListQueryParamsCacheService } from '@/expense/services/cache/expense-list-query-params-cache.service';
import { useExpenseStore } from '@/expense/store/expense.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { onMounted, ref } from 'vue';

const expenseStore = useExpenseStore();
const { expenses, totalExpenses, createExpenseIsLoading } = storeToRefs( expenseStore );

const DEFAULT_PARAMS: ExpenseListQueryParamsDto = { limit: 5, offset: 0 };
let params = ExpenseListQueryParamsCacheService.load() ?? DEFAULT_PARAMS;
const filters = ref<ExpenseListFiltersDto>(
    {
        searchQuery: params.searchQuery,
        fromDate   : params.fromDate,
        toDate     : params.toDate,
        fromValue  : params.fromValue,
        toValue    : params.toValue
    }
);
const paginationParams = ref<ExpenseListPaginationParams>(
    {
        limit : params.limit,
        offset: params.offset
    }
);

const expenseCreateModalOpened = ref<boolean>( false );
const expenseUpdateModalOpened = ref<boolean>( false );
const expenseForEdit = ref<ExpenseDto>();

const loadExpenses = (withParams?: ExpenseListQueryParamsDto) => {
    expenseStore.loadExpenses( withParams ?? params );
    params = withParams ?? DEFAULT_PARAMS;
};

const onFiltersChange = (newFilters: ExpenseListFiltersDto) => {
    filters.value = newFilters;
    loadExpenses( { ...newFilters, ...paginationParams.value } as ExpenseListQueryParamsDto );
};

const onPaginationParamsChange = (newPaginationParams: ExpenseListPaginationParams) => {
    paginationParams.value = newPaginationParams;
    loadExpenses( { ...newPaginationParams, ...filters.value } as ExpenseListQueryParamsDto );
};

const createExpense = (data: CreateExpenseDto) => {
    expenseStore.createExpense( data );
};

const deleteExpense = (expense: ExpenseDto) => {
    expenseStore.deleteExpense( { id: expense.id } );
};

const openExpenseCreateModal = () => {
    expenseCreateModalOpened.value = true;
};

const closeExpenseCreateModal = () => {
    expenseCreateModalOpened.value = false;
};

const openExpenseUpdateModal = (expense: ExpenseDto) => {
    expenseForEdit.value = expense;
    expenseUpdateModalOpened.value = true;
};

const closeExpenseUpdateModal = () => {
    expenseUpdateModalOpened.value = false;
    expenseForEdit.value = undefined;
};

const deleteExpenses = (expenses: ExpenseDto[]): void => {
    expenseStore.bulkDeleteExpenses( { ids: expenses.map( e => e.id ) } );
};

const excludeExpensesFromBudget = (expenses: ExpenseDto[]): void => {
    expenseStore.bulkExcludeExpensesFromBudget( { ids: expenses.map( e => e.id ) } );
};

onMounted( () => {
    loadExpenses( params );
} );

expenseStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            loadExpenses( params );
            closeExpenseCreateModal();
            ElMessage( {
                           message: 'New expense added successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            loadExpenses( params );
            closeExpenseUpdateModal();
            ElMessage( {
                           message: 'Expense updated successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.delete?.status === StoreStatusEnum.Success ) {
            loadExpenses( params );
            ElMessage( {
                           message: 'Expense deleted successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.bulkDelete?.status === StoreStatusEnum.Success ) {
            loadExpenses( params );
            ElMessage( {
                           message: 'Selected expenses deleted successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.bulkExclude?.status === StoreStatusEnum.Success ) {
            loadExpenses( params );
            ElMessage( {
                           message: 'Selected expenses excluded from budget',
                           type   : 'success'
                       } );
        }
    }
} );
</script>

<style scoped>

</style>
