<template>
    <el-form ref="formRef"
             v-if="form"
             :model="form"
             :rules="rules"
             label-position="top"
             size="default"
             :disabled="props.submitIsLoading">
        <el-form-item label="Name" prop="name">
            <el-input v-model="form.name" clearable />
        </el-form-item>
        <el-form-item label="Date" prop="date">
            <el-date-picker v-model="form.date"
                            type="date"
                            placeholder="Pick a date"
                            :disabled-date="disabledDates"
                            clearable />
        </el-form-item>
        <el-form-item label="Seller" prop="seller">
            <el-autocomplete v-model="sellerName"
                             value-key="name"
                             :fetch-suggestions="sellerSearch"
                             :debounce="300"
                             :trigger-on-focus="false"
                             placeholder="Search/add seller"
                             @select="handleSellerSelect"
                             clearable>
                <template #default="{item}">
                    <div class="value">{{ item.name }}</div>
                </template>
            </el-autocomplete>
        </el-form-item>
        <el-form-item prop="excludeFromBudget">
            <el-checkbox v-model="form.excludeFromBudget" label="Exclude from budget" />
        </el-form-item>
        <el-form-item>
            <el-button type="primary"
                       :disabled="props.submitIsLoading || formWasNotChanged"
                       :loading="props.submitIsLoading"
                       @click="submitForm(formRef)" :icon="Check">Save
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts" setup>
import { StoreStatusEnum } from '@/config/constants/store.constants';
import { ExpenseDto, UpdateExpenseDto } from '@/expense/dtos/expense.dtos';
import { useExpenseStore } from '@/expense/store/expense.store';
import { SellerDto } from '@/seller/dtos/seller.dtos';
import { useSellerStore } from '@/seller/store/seller.store';
import { formatDate } from '@/shared/functions/date.functions';
import { isDefined, valueIsEmpty } from '@/shared/functions/validation.functions';
import { Check } from '@element-plus/icons-vue';
import type { FormInstance, FormRules } from 'element-plus';
import { MutationType } from 'pinia';
import { computed, onMounted, Ref, ref, watch } from 'vue';

const props = defineProps<{
    submitIsLoading: boolean,
    initialValues: ExpenseDto
}>();
const emit = defineEmits<{
    (e: 'updateExpense', data: UpdateExpenseDto): void,
}>();

const sellerStore = useSellerStore();
const expenseStore = useExpenseStore();

const formRef = ref<FormInstance>();
let form: Ref<UpdateExpenseDto | null> = ref( null );
const sellerName: Ref<string> = ref( '' );

const setForm = () => {
    resetForm();
    form.value = {
        id               : props.initialValues.id,
        name             : props.initialValues.name,
        date             : formatDate( props.initialValues.date )!,
        excludeFromBudget: props.initialValues.excludeFromBudget,
        sellerId         : props.initialValues.seller?.id
    };
    sellerName.value = props.initialValues.seller?.name ?? '';
};

const resetForm = () => {
    formRef.value?.resetFields();
    formRef.value?.clearValidate();
    sellerName.value = '';
};

setForm();

const rules: FormRules = {
    name: [ { required: true, message: 'Required field', trigger: [ 'blur', 'change', 'input' ] } ],
    date: [ { required: true, message: 'Required field', trigger: 'blur' } ]
};

const disabledDates = (date: Date) => date.getTime() > Date.now();

const sellerSearch = async (queryString: string, cb: (arg: any) => void) => {
    const sellers = await sellerStore.searchSellers( queryString );
    form.value!.sellerName = null;
    form.value!.sellerId = null;
    cb( sellers );
};

const handleSellerSelect = (seller: SellerDto) => {
    form.value!.sellerId = seller.id;
};

const submitForm = (formEl?: FormInstance) => {
    formEl?.validate( (valid) => {
        if( valid ) {
            if( !isDefined( form.value!.sellerId ) && !valueIsEmpty( sellerName.value ) ) {
                form.value!.sellerName = sellerName.value;
            }
            emit( 'updateExpense', {
                ...form.value!,
                date: formatDate( form.value!.date )!
            } );
        }
    } );
};

const formWasNotChanged = computed( () => {
    return form.value?.name === props.initialValues.name
        && form.value?.date === formatDate( props.initialValues.date )
        && form.value?.excludeFromBudget === props.initialValues.excludeFromBudget
        && form.value?.sellerId === props.initialValues.seller?.id;
} );

onMounted( () => {
    setForm();
} );

expenseStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
    }
} );

watch( () => props.initialValues, () => {
    setForm();
} );

</script>

<style scoped>

</style>
