<template>
    <div v-if="props.step">
        <h4>{{ props.title }}</h4>
        <slot />
        <el-button v-if="props.step?.isOptional ?? false"
                   link type="primary"
                   @click="onSkipButtonClicked()">Skip this step
        </el-button>
    </div>
</template>

<script lang="ts" setup>
import { SetupStepDto } from '@/user/dtos/setup.dtos';

const props = defineProps<{
    title: string,
    step?: SetupStepDto
}>();
const emit = defineEmits<{
    (e: 'skipButtonClicked'): void
}>();

const onSkipButtonClicked = () => emit( 'skipButtonClicked' );
</script>

<style scoped>

</style>
