<template>
    <FormGenerator :fields="fields"
                   :loading="isLoading"
                   label-position="top"
                   submit-button-text="Register"
                   @submit="onSubmit"
                   full-width-submit-button />
</template>

<script lang="ts" setup>
import FormGenerator from '@/shared/components/forms/helpers/FormGenerator.vue';
import { passwordInputProps, textInputProps } from '@/shared/functions/input-props.functions';
import { FormFields } from '@/shared/types/form.types';
import { RegisterUserDto } from '@/user/dtos/user.dtos';
import { computed } from 'vue';

export type RegisterUserFormData = Pick<RegisterUserDto, 'username'> & { password1: string; password2: string };

const props = defineProps<{
    submitIsLoading: boolean
}>();
const emit = defineEmits<{
    (e: 'submit', data: RegisterUserFormData): void
}>();

const isLoading = computed( () => props.submitIsLoading );

const fields: FormFields<RegisterUserFormData> = {
    username : textInputProps<RegisterUserFormData>( 'Username', 'username' ),
    password1: passwordInputProps<RegisterUserFormData>( 'Password', 'password1' ),
    password2: passwordInputProps<RegisterUserFormData>( 'Confirm password', 'password2', 'password1' )
};

const onSubmit = (data: RegisterUserFormData) => emit( 'submit', data );

</script>

<style scoped>

</style>
