<template>
    <div class="custom-card" v-loading="setupStepListIsLoading">
        <el-steps align-center finish-status="success">
            <el-step v-for="step in setupStepList"
                     :key="step.id"
                     :title="formatStepName(step.name)"
                     :status="stepStatus(step)"></el-step>
        </el-steps>
        <div style="display: flex; justify-content: center; margin-top: 1.5rem">
            <div style="width: 30%"></div>
            <div style="width: 40%">
                <RouterView />
            </div>
            <div style="width: 30%"></div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { isDefined } from '@/shared/functions/validation.functions';
import { SetupStepNameToTabComponent } from '@/user/config/constants/setup-steps.constants';
import { SetupStepDto, SetupStepNameEnum } from '@/user/dtos/setup.dtos';
import { useSetupStore } from '@/user/store/setup.store';
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';

const setupStore = useSetupStore();
const router = useRouter();

const { setupStepList, setupStepListIsLoading } = storeToRefs( setupStore );

const formatStepName = (stepName: SetupStepNameEnum): string => {
    const name = stepName.split( '_' )[0];
    return name.replace( name[0], name[0].toUpperCase() );
};

const stepStatus = (step: SetupStepDto): 'wait' | 'process' | 'success' => {
    if( step.id === setupStore.firstStepToBeCompleted?.id ) {
        return 'process';
    }
    if( step.isComplete || step.isSkipped ) {
        return 'success';
    }
    return 'wait';
};

onMounted( async () => {
    await setupStore.loadSetupSteps();
    const firstStepToBeCompleted = setupStore.firstStepToBeCompleted;
    const toRouteName = isDefined( firstStepToBeCompleted )
                        ? SetupStepNameToTabComponent[firstStepToBeCompleted.name]
                        : 'Home';
    await router.push( { name: toRouteName } );
} );
</script>

<style scoped>

</style>
