<template>
    <el-autocomplete v-model="category"
                     value-key="name"
                     :fetch-suggestions="categorySearch"
                     :trigger-on-focus="true"
                     placeholder="Select category"
                     @select="onCategorySelect"
                     clearable>
        <template #default="{item}">
            <div class="value">{{ item.name }}</div>
        </template>
    </el-autocomplete>
</template>

<script lang="ts" setup>
import { CategoryDto } from '@/category/dtos/category.dtos';
import { CategoryInputProps } from '@/category/interfaces/category-input-props.interface';
import { useCategoryStore } from '@/category/store/category.store';
import { isDefined } from '@/shared/functions/validation.functions';
import { storeToRefs } from 'pinia';
import { onMounted, ref } from 'vue';

const props = defineProps<{
    data: CategoryInputProps<any>
}>();
const emits = defineEmits<{
    (e: 'input', categoryId: string | null): void
}>();

onMounted( () => {
    categoryStore.loadAllExpenseCategories();
} );

const categoryStore = useCategoryStore();

const { list: categoryList } = storeToRefs( categoryStore );

const category = ref<CategoryDto | null>( props.data.category ?? null );

const categorySearch = (queryString: string | null, cb: (arg: any) => void) => {
    const categories =
              !isDefined( queryString )
              ? categoryList.value
              : categoryList.value.filter( category => category.name.toLowerCase()
                                                               .indexOf( queryString.toLowerCase() ) === 0 );
    cb( categories );
};

const onCategorySelect = (category: CategoryDto) => {
    emits( 'input', category.id );
};
</script>

<style scoped>

</style>
