<template>
    <el-form ref="formRef"
             v-if="form"
             :model="form"
             :rules="rules"
             label-position="top"
             size="default"
             :disabled="props.submitIsLoading">
        <el-form-item label="Name" prop="name">
            <el-input v-model="form.name" clearable />
        </el-form-item>
        <el-form-item label="Value" prop="value">
            <el-input v-model.number="form.value"
                      placeholder="Value"
                      type="number"
                      :min="0"
                      step=".01"
                      inputmode="decimal"
                      clearable>
                <template #append>RON</template>
            </el-input>
        </el-form-item>
        <el-form-item label="Source" prop="source">
            <el-input v-model="form.source" clearable />
        </el-form-item>
        <el-form-item label="Recurrence">
            <el-radio-group v-model="recurrenceType">
                <el-radio label="daily" v-model="form.daily">Daily</el-radio>
                <el-radio label="weekly">Weekly</el-radio>
                <el-radio label="monthly">Monthly</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="Weekly on" prop="weeklyOn" v-if="recurrenceType === 'weekly'">
            <el-select v-model="form.weeklyOn" placeholder="Select day" clearable>
                <el-option
                    v-for="option of weekDaysOptions()"
                    :key="option.value"
                    :label="option.label"
                    :value="option.value" />
            </el-select>
        </el-form-item>
        <el-form-item label="Monthly on" prop="monthlyOn" v-if="recurrenceType === 'monthly'">
            <el-input-number v-model="form.monthlyOn" :min="1" :max="28" :step="1" />
        </el-form-item>
        <el-form-item>
            <el-button type="primary"
                       :disabled="props.submitIsLoading"
                       :loading="props.submitIsLoading"
                       @click="submitForm(formRef)" :icon="Check">Save
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts" setup>
import { StoreStatusEnum } from '@/config/constants/store.constants';
import { CreateIncomeRecurrenceDto, IncomeRecurrenceDto, UpdateIncomeRecurrenceDto } from '@/income/dtos/income-recurrence.dtos';
import { useIncomeRecurrenceStore } from '@/income/store/income-recurrence.store';
import { WeekDayEnum } from '@/shared/enums/week-day.enum';
import { parseIntegerMoneyValueToDecimal } from '@/shared/functions/money.functions';
import { isDefined } from '@/shared/functions/validation.functions';
import { Check } from '@element-plus/icons-vue';
import type { FormInstance, FormRules } from 'element-plus';
import { MutationType } from 'pinia';
import { computed, reactive, ref, watch } from 'vue';

type RecurrenceType = 'daily' | 'weekly' | 'monthly';
type SelectOption = { value: string, label: string };

const props = defineProps<{
    submitIsLoading: boolean,
    initialValues?: IncomeRecurrenceDto
}>();
const emit = defineEmits<{
    (e: 'createIncomeRecurrence', data: CreateIncomeRecurrenceDto): void,
    (e: 'updateIncomeRecurrence', data: UpdateIncomeRecurrenceDto): void
}>();

const incomeRecurrenceStore = useIncomeRecurrenceStore();

const setForm = (): void => {
    resetForm();
    recurrenceType.value = recurrenceTypeFromInitialValues();
    form.value = {
        name     : props.initialValues?.name ?? '',
        value    : parseIntegerMoneyValueToDecimal( props.initialValues?.value ) ?? null,
        source   : props.initialValues?.source ?? null,
        daily    : props.initialValues?.daily ?? false,
        weeklyOn : props.initialValues?.weeklyOn ?? null,
        monthlyOn: props.initialValues?.monthlyOn ?? null
    };
};

const resetForm = (): void => {
    formRef.value?.resetFields();
    formRef.value?.clearValidate();
    recurrenceType.value = 'daily';
};

const recurrenceTypeFromInitialValues = (): RecurrenceType => {
    if( !isDefined( props.initialValues ) || props.initialValues.daily ) {
        return 'daily';
    }
    if( props.initialValues.weeklyOn ) {
        return 'weekly';
    }
    return 'monthly';
};

const recurrenceType = ref<RecurrenceType>( recurrenceTypeFromInitialValues() );

const formRef = ref<FormInstance>();
const form = ref<CreateIncomeRecurrenceDto>();

setForm();

const rules: FormRules = reactive(
    {
        name     : [
            {
                required: true, message: 'Required field',
                trigger                : [ 'blur', 'change', 'input' ]
            }
        ],
        value    : [
            {
                type: 'number', required: true, message: 'Required field',
                trigger                                : [ 'blur', 'change', 'input' ]
            }
        ],
        weeklyOn : [
            {
                required: recurrenceType.value === 'weekly', message: 'Required field',
                trigger                                             : [ 'blur', 'change', 'input' ]
            }
        ],
        monthlyOn: [
            {
                required: recurrenceType.value === 'monthly', message: 'Required field',
                trigger                                              : [ 'blur', 'change', 'input' ]
            }
        ]
    } );

const weekDaysOptions = (): SelectOption[] => {
    const weekDaysKeys = Object.keys( WeekDayEnum )
                               .slice( 7 );
    const weekDaysValues = Object.values( WeekDayEnum )
                                 .slice( 7 );
    return weekDaysKeys.map( (key, index) => (
        { label: key, value: weekDaysValues[index].toString() }
    ) );
};

const isUpdateForm = computed( () => isDefined( props.initialValues ) );

const submitForm = (formEl?: FormInstance) => {
    formEl?.validate( (valid) => {
        if( valid ) {
            let data: CreateIncomeRecurrenceDto | UpdateIncomeRecurrenceDto = {
                ...form.value!,
                daily   : recurrenceType.value === 'daily',
                weeklyOn: recurrenceType.value === 'weekly'
                          ? parseInt( form.value!.weeklyOn!.toString() )
                          : null,
                value   : Math.round( form.value!.value! * 100 )
            };
            if( !data.daily && !data.weeklyOn && !data.monthlyOn ) {
                return;
            }
            if( !isUpdateForm.value ) {
                emit( 'createIncomeRecurrence', data as CreateIncomeRecurrenceDto );
                return;
            }
            data = { id: props.initialValues!.id, ...data };
            emit( 'updateIncomeRecurrence', data as UpdateIncomeRecurrenceDto );
        }
    } );
};

incomeRecurrenceStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
    }
} );

watch( () => props.initialValues, (newValue, _) => {
    setForm();
} );

</script>

<style scoped>

</style>
