<template>
    <el-table :data="props.recurrences"
              ref="recurrencesTable"
              class="w-100 mt-3"
              table-layout="auto">
        <el-table-column prop="name" label="Name" />
        <el-table-column prop="source" label="Source" />
        <el-table-column label="Repeats">
            <template #default="scope">{{ repeatsFormatter(scope.row) }}</template>
        </el-table-column>
        <el-table-column prop="value" label="Value">
            <template #default="scope"><strong>{{ recurrenceValueFormatter(scope.row) }}</strong></template>
        </el-table-column>
        <el-table-column label="Status">
            <template #default="scope">
                <el-tooltip effect="dark"
                            :content="incomeRecurrenceIsActive(scope.row) ? 'Deactivate' : 'Activate'"
                            placement="right">
                    <el-tag :type="incomeRecurrenceIsActive(scope.row) ? 'success' : 'danger'"
                            @click="onStatusChange(scope.row)"
                            style="cursor: pointer">
                        {{ incomeRecurrenceIsActive(scope.row) ? 'ACTIVE' : 'INACTIVE' }}
                    </el-tag>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column label="Operations">
            <template #default="scope">
                <el-button
                    :icon="Edit"
                    circle
                    plain
                    @click="onEditButtonClick(scope.$index, scope.row)"
                    :disabled="false"></el-button>
                <el-popconfirm
                    title="Are you sure to delete this recurrence?"
                    confirm-button-text="Yes"
                    cancel-button-text="No"
                    :icon="WarningFilled"
                    icon-color="#f56c6c"
                    @confirm="onDeleteButtonClick(scope.$index, scope.row)">
                    <template #reference>
                        <el-button
                            type="danger"
                            :icon="Delete"
                            circle
                            plain></el-button>
                    </template>
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>
</template>

<script lang="ts" setup>
import { IncomeRecurrenceDto, UpdateIncomeRecurrenceStatusDto } from '@/income/dtos/income-recurrence.dtos';
import { RecurrenceStatusEnum } from '@/shared/dtos/recurrence.dtos';
import { WeekDayEnum } from '@/shared/enums/week-day.enum';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { isDefined } from '@/shared/functions/validation.functions';
import { Delete, Edit, WarningFilled } from '@element-plus/icons-vue';
import { ElTable } from 'element-plus/es';
import { ref } from 'vue';

const props = defineProps<{
    recurrences: IncomeRecurrenceDto[],
}>();
const emit = defineEmits<{
    (e: 'recurrenceEditButtonClick', recurrence: IncomeRecurrenceDto): void,
    (e: 'recurrenceDeleteButtonClick', recurrence: IncomeRecurrenceDto): void,
    (e: 'recurrenceStatusChanged', data: UpdateIncomeRecurrenceStatusDto): void
}>();

const recurrencesTable = ref<InstanceType<typeof ElTable>>();

const recurrenceValueFormatter = (recurrence: IncomeRecurrenceDto): string => {
    return `RON ${ parseIntegerMoneyValueToDecimalString( recurrence.value ) }`;
};

const repeatsFormatter = (recurrence: IncomeRecurrenceDto): string => {
    if( recurrence.daily ) {
        return 'Daily';
    }
    if( isDefined( recurrence.weeklyOn ) ) {
        return `Weekly on ${ WeekDayEnum[recurrence.weeklyOn] }`;
    }
    return `Monthly on ${ recurrence.monthlyOn }`;
};

const onEditButtonClick = (_: number, recurrence: IncomeRecurrenceDto) => {
    emit( 'recurrenceEditButtonClick', recurrence );
};

const onDeleteButtonClick = (_: number, recurrence: IncomeRecurrenceDto) => {
    emit( 'recurrenceDeleteButtonClick', recurrence );
};

const onStatusChange = (recurrence: IncomeRecurrenceDto): void => {
    const status = !incomeRecurrenceIsActive(recurrence)
                   ? RecurrenceStatusEnum.Active
                   : RecurrenceStatusEnum.Inactive;
    emit( 'recurrenceStatusChanged', { id: recurrence.id, status } );
};

const incomeRecurrenceIsActive = (recurrence: IncomeRecurrenceDto): boolean => {
    return recurrence.status === RecurrenceStatusEnum.Active;
};
</script>

<style scoped>

</style>
