<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4 mt-3">
            <h2 style="margin: 0">Recurrences</h2>
            <div>
                <el-button type="primary" @click="openIncomeRecurrenceModal">Create recurrence</el-button>
            </div>
        </div>
        <IncomeRecurrenceListTable :recurrences="incomeRecurrences"
                                   @recurrence-delete-button-click="deleteIncomeRecurrence"
                                   @recurrence-edit-button-click="openIncomeRecurrenceModalForEdit"
                                   @recurrence-status-changed="updateIncomeRecurrenceStatus" />
        <el-dialog v-model="incomeRecurrenceModalOpened"
                   width="40%"
                   top="3vh"
                   :title="incomeRecurrenceForEdit ? 'Update recurring income' : 'Create new recurring income'"
                   @closed="closeIncomeRecurrenceModal">
            <IncomeRecurrenceForm :submit-is-loading="createIncomeRecurrenceIsLoading || updateIncomeRecurrenceIsLoading"
                                  :initial-values="incomeRecurrenceForEdit"
                                  @create-income-recurrence="createIncomeRecurrence"
                                  @update-income-recurrence="updateIncomeRecurrence" />
        </el-dialog>
    </div>
</template>

<script lang="ts" setup>

import { StoreStatusEnum } from '@/config/constants/store.constants';
import IncomeRecurrenceForm from '@/income/components/income-recurrence-components/IncomeRecurrenceForm.vue';
import IncomeRecurrenceListTable from '@/income/components/income-recurrence-components/IncomeRecurrenceListTable.vue';
import { CreateIncomeRecurrenceDto, IncomeRecurrenceDto, UpdateIncomeRecurrenceDto, UpdateIncomeRecurrenceStatusDto } from '@/income/dtos/income-recurrence.dtos';
import { useIncomeRecurrenceStore } from '@/income/store/income-recurrence.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { onMounted, ref } from 'vue';

const incomeRecurrenceStore = useIncomeRecurrenceStore();
const { createIncomeRecurrenceIsLoading, incomeRecurrences, updateIncomeRecurrenceIsLoading } = storeToRefs( incomeRecurrenceStore );

const incomeRecurrenceModalOpened = ref<boolean>( false );
const incomeRecurrenceForEdit = ref<IncomeRecurrenceDto | undefined>( undefined );

const createIncomeRecurrence = (data: CreateIncomeRecurrenceDto) => {
    incomeRecurrenceStore.createIncomeRecurrence( data );
};

const updateIncomeRecurrence = (data: UpdateIncomeRecurrenceDto) => {
    incomeRecurrenceStore.updateIncomeRecurrence( data );
};

const deleteIncomeRecurrence = (data: IncomeRecurrenceDto) => {
    incomeRecurrenceStore.deleteIncomeRecurrence( { id: data.id } );
};

const updateIncomeRecurrenceStatus = (data: UpdateIncomeRecurrenceStatusDto): void => {
    incomeRecurrenceStore.updateIncomeRecurrenceStatus( data );
};

const openIncomeRecurrenceModal = () => {
    incomeRecurrenceModalOpened.value = true;
};

const openIncomeRecurrenceModalForEdit = (incomeRecurrence: IncomeRecurrenceDto) => {
    incomeRecurrenceForEdit.value = incomeRecurrence;
    openIncomeRecurrenceModal();
};

const closeIncomeRecurrenceModal = () => {
    incomeRecurrenceModalOpened.value = false;
    incomeRecurrenceForEdit.value = undefined;
};

incomeRecurrenceStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            closeIncomeRecurrenceModal();
            ElMessage( {
                           message: 'Recurring income created successfully',
                           type   : 'success'
                       } );
        }

        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            closeIncomeRecurrenceModal();
            ElMessage( {
                           message: 'Recurring income updated successfully',
                           type   : 'success'
                       } );
        }

        if( mutation.payload.updateStatus?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Recurring income status updated successfully',
                           type   : 'success'
                       } );
        }

        if( mutation.payload.delete?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Recurring income deleted successfully',
                           type   : 'success'
                       } );
        }
    }

} );

onMounted( () => {
    incomeRecurrenceStore.loadAllIncomeRecurrences();
} );

</script>

<style scoped>

</style>
