<template>
    <FormGenerator :fields="fields"
                   :loading="isLoading"
                   @submit="onSubmit" />
</template>

<script lang="ts" setup>
import { CreateIncomeRecurrenceDto } from '@/income/dtos/income-recurrence.dtos';
import FormGenerator from '@/shared/components/forms/helpers/FormGenerator.vue';
import { moneyInputProps, numberInputProps, textInputProps } from '@/shared/functions/input-props.functions';
import { FormFields } from '@/shared/types/form.types';
import { computed } from 'vue';

type CreateSalaryDto = Omit<CreateIncomeRecurrenceDto, 'weeklyOn' | 'daily'>

const props = defineProps<{
    submitIsLoading: boolean
}>();
const emit = defineEmits<{
    (e: 'submit', data: CreateIncomeRecurrenceDto): void
}>();

const isLoading = computed( () => props.submitIsLoading );

const fields: FormFields<CreateSalaryDto> = {
    name     : textInputProps<CreateSalaryDto>( 'Name', 'name', 'Salary' ),
    value    : moneyInputProps<CreateSalaryDto>( 'Net income', 'value' ),
    monthlyOn: numberInputProps<CreateSalaryDto>( 'Salary day', 'monthlyOn', null, 1, 28, 1 ),
    source   : textInputProps<CreateSalaryDto>( 'Employer', 'source', null, false )
};

const onSubmit = (data: CreateSalaryDto): void => {
    emit( 'submit', { ...data, daily: null, weeklyOn: null } );
};

</script>

<style scoped>

</style>
