<template>
    <div class="dashboard-card" v-loading="loggedUserIsLoading">
        <span class="text-black-50" style="font-size: 13px">Balance</span>
        <h2 v-if="availableSum" class="fw-bold mb-0" :style="availableSum > 0 ? 'color: #409eff;' : 'color: #f56c6c;'">RON {{ availableSum }}</h2>
    </div>
</template>

<script lang="ts" setup>
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { useUserStore } from '@/user/store/user.store';
import { storeToRefs } from 'pinia';
import { computed, onMounted } from 'vue';

const userStore = useUserStore();
const { budget, loggedUserIsLoading } = storeToRefs( userStore );
const availableSum = computed( () => parseIntegerMoneyValueToDecimalString( budget.value!.availableSum ) );

onMounted( () => {
    userStore.loadCurrentUser();
} );
</script>

<style scoped>

</style>
