<template>
    <div class="dashboard-card" v-loading="totalSumEarnedIsLoading">
        <span class="text-black-50" style="font-size: 13px">Earned this month</span>
        <h2 class="fw-bold text-success mb-0">RON {{ earnedThisMonth }}</h2>
    </div>
</template>

<script lang="ts" setup>
import { useReportsStore } from '@/reports/store/reports.store';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { storeToRefs } from 'pinia';
import { computed, onMounted } from 'vue';

const reportsStore = useReportsStore();
const { totalSumEarned, totalSumEarnedIsLoading } = storeToRefs( reportsStore );
const earnedThisMonth = computed( () => parseIntegerMoneyValueToDecimalString( totalSumEarned?.value ) );

onMounted( () => {
    reportsStore.loadTotalEarned( {} );
} );
</script>

<style scoped>

</style>
