<template>
    <div class="dashboard-card" v-loading="monthlyReportsAreLoading">
        <span class="text-black-50" style="font-size: 13px">Monthly reports</span>
        <MonthlyReportsChart :monthly-reports="monthlyReportsList" />
    </div>
</template>

<script lang="ts" setup>
import MonthlyReportsChart from '@/reports/components/MonthlyReportsChart.vue';
import { useReportsStore } from '@/reports/store/reports.store';
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';

const reportsStore = useReportsStore();
const { monthlyReportsList, monthlyReportsAreLoading } = storeToRefs( reportsStore );

onMounted( () => {
    reportsStore.loadAllMonthlyReports();
} );
</script>

<style scoped>

</style>
