<template>
    <div class="dashboard-card d-flex flex-column justify-content-between"
         v-loading="recentExpensesAreLoading || recentIncomesAreLoading">
        <div>
            <span class="text-black-50" style="font-size: 13px">Recent transactions</span>
            <el-table :data="transactions" size="small" style="width: 100%;" v-if="showTable">
                <el-table-column fixed prop="name" label="Name" />
                <el-table-column prop="date" label="When" />
                <el-table-column prop="value" label="Value">
                    <template #default="scope">
                    <span :class="scope.row.type === 'expense' ? ' fw-bold' : 'text-success fw-bold'">{{
                            getTransactionDisplay(scope.row) }}</span>
                    </template>
                </el-table-column>
            </el-table>
            <p v-else class="text-center text-black-50" style="font-size: 13px; padding: 70px 0">No Data</p>
        </div>
        <el-button-group v-if="showTable">
            <el-button size="small"
                       text type="primary"
                       @click="router.push({name: 'ExpenseList'})">View all expenses
            </el-button>
            <el-button size="small"
                       text
                       type="primary"
                       @click="router.push({name: 'IncomeList'})">View all incomes
            </el-button>
        </el-button-group>
    </div>
</template>

<script lang="ts" setup>
import { ExpenseDto } from '@/expense/dtos/expense.dtos';
import { useExpenseStore } from '@/expense/store/expense.store';
import { IncomeDto } from '@/income/dtos/income.dtos';
import { useIncomeStore } from '@/income/store/income.store';
import { humanizeDate } from '@/shared/functions/date.functions';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { storeToRefs } from 'pinia';
import { computed, onMounted } from 'vue';
import { useRouter } from 'vue-router';

interface Transaction {
    id: string;
    name: string;
    value: number;
    date: string;
    type: 'income' | 'expense';
}

const expenseStore = useExpenseStore();
const incomeStore = useIncomeStore();
const router = useRouter();

onMounted( () => {
    expenseStore.loadRecentExpenses();
    incomeStore.loadRecentIncomes();
} );

const { recentExpenses, recentExpensesAreLoading } = storeToRefs( expenseStore );
const { recentIncomes, recentIncomesAreLoading } = storeToRefs( incomeStore );

const transactions = computed( () => {
    return [
        ...recentExpenses.value?.map( expenseToTransaction ) ?? [],
        ...recentIncomes.value?.map( incomeToTransaction ) ?? []
    ].sort( (t1, t2) => t1.date > t2.date
                        ? -1
                        : 1 )
     .slice( 0, 4 );
} );

const expenseToTransaction = (expense: ExpenseDto): Transaction => (
    {
        id   : expense.id,
        name : expense.name,
        value: expense.total,
        date : humanizeDate( new Date( expense.date ) ),
        type : 'expense'
    }
);

const incomeToTransaction = (income: IncomeDto): Transaction => (
    {
        id   : income.id,
        name : income.name,
        value: income.value,
        date : humanizeDate( new Date( income.date ) ),
        type : 'income'
    }
);

const getTransactionDisplay = (transaction: Transaction): string => {
    const parsedValueWithCurrency = `RON ${ parseIntegerMoneyValueToDecimalString( transaction.value ) }`;
    return transaction.type === 'expense'
           ? `- ${ parsedValueWithCurrency }`
           : `+ ${ parsedValueWithCurrency }`;
};

const showTable = computed( () => transactions.value.length > 0 );
</script>

<style scoped>

</style>
