<template>
    <div class="dashboard-card" v-loading="totalSpentOnCategoriesIsLoading">
        <span class="text-black-50" style="font-size: 13px">Spent this month on categories</span>
        <div style="display: flex; justify-content: center; width: 100%">
            <SpentOnCategoriesChart v-if="showChart" :spent-on-categories="totalSpentOnCategories" />
            <p v-else class="text-center text-black-50" style="font-size: 13px; padding: 120px 0">No Data</p>
        </div>
    </div>
</template>

<script lang="ts" setup>
import SpentOnCategoriesChart from '@/reports/components/SpentOnCategoriesChart.vue';
import { useReportsStore } from '@/reports/store/reports.store';
import { formatDate } from '@/shared/functions/date.functions';
import { isDefined } from '@/shared/functions/validation.functions';
import { useUserStore } from '@/user/store/user.store';
import { storeToRefs } from 'pinia';
import { computed, onMounted } from 'vue';

const reportsStore = useReportsStore();
const userStore = useUserStore();

const { totalSpentOnCategories, totalSpentOnCategoriesIsLoading } = storeToRefs( reportsStore );
const { userSettings } = storeToRefs( userStore );

const showChart = computed( () => totalSpentOnCategories.value.length > 0 );

onMounted( () => {
    const monthStartsOnDay = userSettings.value?.monthStartsOn;
    if( isDefined( monthStartsOnDay ) ) {
        const fromDate = new Date();
        fromDate.setDate( monthStartsOnDay );
        if( new Date().getDay() < monthStartsOnDay ) {
            fromDate.setMonth( new Date().getMonth() - 1 );
        }
        reportsStore.loadSpentOnCategories(
            {
                fromDate: formatDate( fromDate ),
                toDate  : formatDate( new Date() )
            }
        );
    }

} );
</script>

<style scoped>

</style>
