<template>
    <div class="dashboard-card" v-loading="totalSumSpentIsLoading">
        <span class="text-black-50" style="font-size: 13px">Spent this month</span>
        <h2 class="fw-bold mb-0">RON {{ spentThisMonth }}</h2>
    </div>
</template>

<script lang="ts" setup>
import { useReportsStore } from '@/reports/store/reports.store';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { storeToRefs } from 'pinia';
import { computed, onMounted } from 'vue';

const reportsStore = useReportsStore();
const { totalSumSpent, totalSumSpentIsLoading } = storeToRefs( reportsStore );
const spentThisMonth = computed( () => parseIntegerMoneyValueToDecimalString( totalSumSpent?.value ) );

onMounted( () => {
    reportsStore.loadTotalSpent( {} );
} );
</script>

<style scoped>

</style>
