<template>
    <div class="dashboard-card" v-loading="expenseRecurrencesAreLoading || incomeRecurrencesAreLoading">
        <span class="text-black-50" style="font-size: 13px">Upcoming transactions</span>
        <el-table :data="transactions" size="small" style="width: 100%;" v-if="showTable">
            <el-table-column fixed prop="name" label="Name" />
            <el-table-column prop="dateObj.humanizedDate" label="When" />
            <el-table-column prop="value" label="Value">
                <template #default="scope">
                    <span :class="scope.row.type === 'expense' ? ' fw-bold' : 'text-success fw-bold'">{{
                            getTransactionDisplay(scope.row) }}</span>
                </template>
            </el-table-column>
        </el-table>
        <p v-else class="text-center text-black-50" style="font-size: 13px; padding: 70px 0">No Data</p>
    </div>
</template>

<script lang="ts" setup>
import { ExpenseRecurrenceDto } from '@/expense/dtos/expense-recurrence.dtos';
import { useExpenseRecurrenceStore } from '@/expense/store/expense-recurrence.store';
import { IncomeRecurrenceDto } from '@/income/dtos/income-recurrence.dtos';
import { useIncomeRecurrenceStore } from '@/income/store/income-recurrence.store';
import { humanizeUpcomingDate } from '@/shared/functions/date.functions';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { isDefined } from '@/shared/functions/validation.functions';
import { DateObj } from '@/shared/interfaces/date/date-obj.interface';
import { storeToRefs } from 'pinia';
import { computed, onMounted } from 'vue';
import { useRouter } from 'vue-router';

interface Transaction {
    id: string;
    name: string;
    value: number;
    dateObj: DateObj | null;
    type: 'income' | 'expense';
}

const expenseRecurrenceStore = useExpenseRecurrenceStore();
const incomeRecurrenceStore = useIncomeRecurrenceStore();
const router = useRouter();

onMounted( () => {
    expenseRecurrenceStore.loadAllExpenseRecurrences();
    incomeRecurrenceStore.loadAllIncomeRecurrences();
} );

const { expenseRecurrences, expenseRecurrencesAreLoading } = storeToRefs( expenseRecurrenceStore );
const { incomeRecurrences, incomeRecurrencesAreLoading } = storeToRefs( incomeRecurrenceStore );

const transactions = computed( () => {
    return [
        ...expenseRecurrences.value?.map( er => expenseRecurrenceToTransaction( er, humanizeUpcomingDate( er ) ) )
        ?? [],
        ...incomeRecurrences.value?.map( ir => incomeRecurrenceToTransaction( ir, humanizeUpcomingDate( ir ) ) ) ?? []
    ].filter( t => isDefined( t.dateObj ) && t.dateObj.date.getMonth() === new Date().getMonth() )
     .sort( (t1, t2) => t1.dateObj!.date > t2.dateObj!.date
                        ? 1
                        : -1 )
     .slice( 0, 4 );
} );

const expenseRecurrenceToTransaction = (expenseRecurrence: ExpenseRecurrenceDto, dateObj: DateObj | null): Transaction => (
    {
        id   : expenseRecurrence.id,
        name : expenseRecurrence.name,
        value: expenseRecurrence.value,
        dateObj,
        type : 'expense'
    }
);

const incomeRecurrenceToTransaction = (incomeRecurrenceDto: IncomeRecurrenceDto, dateObj: DateObj | null): Transaction => (
    {
        id   : incomeRecurrenceDto.id,
        name : incomeRecurrenceDto.name,
        value: incomeRecurrenceDto.value,
        dateObj,
        type : 'income'
    }
);

const getTransactionDisplay = (transaction: Transaction): string => {
    const parsedValueWithCurrency = `RON ${ parseIntegerMoneyValueToDecimalString( transaction.value ) }`;
    return transaction.type === 'expense'
           ? `- ${ parsedValueWithCurrency }`
           : `+ ${ parsedValueWithCurrency }`;
};

const showTable = computed( () => transactions.value.length > 0 );
</script>

<style scoped>

</style>
