<template>
    <div>
        <v-chart :option="chartData" :autoresize="true" class="chart" />
    </div>
</template>

<script lang="ts" setup>
import { MonthlyReportDto } from '@/reports/dtos/reports.dtos';
import { BarChart } from 'echarts/charts';
import { DatasetComponent, GridComponent, LegendComponent, TitleComponent, TooltipComponent } from 'echarts/components';
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { ref } from 'vue';
import VChart from 'vue-echarts';

const props = defineProps<{
    monthlyReports: MonthlyReportDto[]
}>();

use( [
         CanvasRenderer,
         BarChart,
         GridComponent,
         TooltipComponent,
         LegendComponent,
         TitleComponent,
         DatasetComponent
     ] );

// const chartData = ref(
//     {
//         // dataset: {
//         //     dimensions: [ 'month', 'totalSpent', 'totalEarned' ],
//         //     source    : props.monthlyReports.map( mr => (
//         //         {
//         //             month      : moment( mr.month )
//         //                 .format( 'MM' ),
//         //             totalSpent : mr.totalSpent ?? 0,
//         //             totalEarned: mr.totalEarned ?? 0
//         //         }
//         //     ) ),
//         //     xAxis     : { type: 'category' },
//         //     yAxis     : {},
//         //     series    : [ { type: 'bar' }, { type: 'bar' } ]
//         // }
//         xAxis : {
//             data: props.monthlyReports.map( mr => moment( mr.month )
//                 .format( 'MM' ) )
//         },
//         yAxis : {
//             type: 'value'
//         },
//         series: [
//             {
//                 type: 'bar',
//                 data: props.monthlyReports.map( mr => mr.totalSpent ?? 0 )
//             },
//             {
//                 type: 'bar',
//                 data: props.monthlyReports.map( mr => mr.totalEarned ?? 0 )
//             }
//         ]
//     }
// );
const chartData = ref( {
                           title  : {
                               text: ''
                           },
                           xAxis  : {
                               type: 'category'
                           },
                           yAxis  : {
                               type: 'value'
                           },
                           tooltip: {
                               trigger: 'item'
                           },
                           legend : {
                               show: true
                           },
                           series : [
                               {
                                   name     : 'Series 1',
                                   type     : 'bar',
                                   markPoint: {
                                       data: [
                                           {
                                               name: 'Maximum',
                                               type: 'max'
                                           }
                                       ]
                                   },
                                   markLine : {
                                       data  : [
                                           {
                                               name: 'Average',
                                               type: 'average'
                                           }
                                       ],
                                       symbol: [ 'none', 'none' ]
                                   },
                                   data     : [
                                       {
                                           value: [ 'Category 1', 1 ]
                                       },
                                       {
                                           value: [ 'Category 2', 4 ]
                                       },
                                       {
                                           value: [ 'Category 3', 10 ]
                                       },
                                       {
                                           value: [ 'Category 4', 8 ]
                                       },
                                       {
                                           value: [ 'Category 5', 2 ]
                                       },
                                       {
                                           value: [ 'Category 6', 3 ]
                                       }
                                   ]
                               },
                               {
                                   name     : 'Series 2',
                                   type     : 'bar',
                                   markPoint: {
                                       data: [
                                           {
                                               name: 'Maximum',
                                               type: 'max'
                                           }
                                       ]
                                   },
                                   markLine : {
                                       data  : [
                                           {
                                               name: 'Average',
                                               type: 'average'
                                           }
                                       ],
                                       symbol: [ 'none', 'none' ]
                                   },
                                   data     : [
                                       {
                                           value: [ 'Category 1', 1 ]
                                       },
                                       {
                                           value: [ 'Category 2', 2 ]
                                       },
                                       {
                                           value: [ 'Category 3', 6 ]
                                       },
                                       {
                                           value: [ 'Category 4', 3 ]
                                       },
                                       {
                                           value: [ 'Category 5', 2 ]
                                       },
                                       {
                                           value: [ 'Category 6', 5 ]
                                       }
                                   ]
                               }
                           ]
                       }
);
</script>

<style scoped>
.chart {
    height: 100%;
    width: 400px;
}
</style>
