<template>
    <v-chart :option="chartData" class="chart" style="width: 100%" />
</template>

<script lang="ts" setup>
import { SpentOnSellerDto } from '@/reports/dtos/reports.dtos';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { PieChart } from 'echarts/charts';
import { LegendComponent, TitleComponent, TooltipComponent } from 'echarts/components';
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { ref } from 'vue';
import VChart from 'vue-echarts';

const props = defineProps<{
    spentOnSellers: SpentOnSellerDto[];
}>();
console.log( props.spentOnSellers );

use( [
         CanvasRenderer,
         PieChart,
         TitleComponent,
         TooltipComponent,
         LegendComponent
     ] );

const chartData = ref(
    {
        tooltip: {
            trigger  : 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        series : [
            {
                name    : 'Spent in total from',
                type    : 'pie',
                radius  : '75%',
                center  : [ '50%', '50%' ],
                data    : props.spentOnSellers.map( (spentOnSeller: SpentOnSellerDto) => (
                    {
                        name : spentOnSeller.sellerName,
                        value: parseIntegerMoneyValueToDecimalString( spentOnSeller.sum )
                    }
                ) ),
                emphasis: {
                    itemStyle: {
                        shadowBlur   : 10,
                        shadowOffsetX: 0,
                        shadowColor  : 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    }
);
</script>

<style scoped>
.chart {
    height: 300px;
    width: 400px;
}
</style>
