<template>
    <FormGenerator :fields="fields"
                   :loading="isLoading"
                   @submit="onSubmit"
                   label-position="top"
                   submit-button-text="Login"
                   full-width-submit-button />
</template>

<script lang="ts" setup>
import { LoginRequestDto } from '@/auth/dtos/auth.dtos';
import FormGenerator from '@/shared/components/forms/helpers/FormGenerator.vue';
import { checkboxInputProps, passwordInputProps, textInputProps } from '@/shared/functions/input-props.functions';
import { FormFields } from '@/shared/types/form.types';
import { computed } from 'vue';

export type LoginFormData = LoginRequestDto & { keepLoggedIn: boolean };

const props = defineProps<{
    submitIsLoading: boolean
}>();
const emits = defineEmits<{
    (e: 'submit', data: LoginFormData): void
}>();

const isLoading = computed( () => props.submitIsLoading );

const fields: FormFields<LoginFormData> = {
    username    : textInputProps<LoginFormData>( 'Username', 'username' ),
    password    : passwordInputProps<LoginFormData>( 'Password', 'password' ),
    keepLoggedIn: checkboxInputProps<LoginFormData>( 'Remember me', 'keepLoggedIn' )
};

const onSubmit = (data: LoginFormData): void => emits( 'submit', data );

</script>

<style scoped>

</style>
