<template>
    <el-autocomplete v-model="seller"
                     value-key="name"
                     :fetch-suggestions="sellerSearch"
                     :debounce="300"
                     :trigger-on-focus="false"
                     placeholder="Search/add seller"
                     @select="onSellerSelect"
                     :select-when-unmatched="true"
                     :highlight-first-item="true"
                     clearable>
        <template #default="{item}">
            <div class="value">{{ item.name }}</div>
        </template>
    </el-autocomplete>
</template>

<script lang="ts" setup>
import { SellerDto } from '@/seller/dtos/seller.dtos';
import { SellerInputProps } from '@/seller/interfaces/seller-input-props.interface';
import { useSellerStore } from '@/seller/store/seller.store';
import { ref } from 'vue';

const sellerStore = useSellerStore();

const props = defineProps<{
    data: SellerInputProps<any>
}>();

const emit = defineEmits<{
    (e: 'input', sellerId: string | null): void
}>();

const seller = ref<SellerDto | null>( props.data.seller ?? null );

const sellerSearch = async (queryString: string, cb: (arg: any) => void) => {
    const sellers = await sellerStore.searchSellers( queryString );
    cb( sellers );
};

const onSellerSelect = (seller: SellerDto): void => {
    emit( 'input', seller.id );
};

</script>

<style scoped>

</style>
