<template>
    <div>
        <h2 class="m-0">Dashboard</h2>
        <div class="row mt-4" style="height: 230px">
            <div class="col-4 flex flex-column justify-content-between" style="height: 100%">
                <div class="flex-grow-1 mb-3">
                    <AvailableBudgetCard />
                </div>
                <div class="flex-fill mb-3">
                    <EarnedThisMonthCard />
                </div>
                <div class="flex-fill">
                    <SpentThisMonthCard />
                </div>
            </div>
            <div class="col-4 flex flex-column" style="height: 100%">
                <RecentTransactionsCard class="flex-grow-0" />
            </div>
            <div class="col-4">
                <UpcomingTransactionsCard />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <SpentOnCategoriesCard />
            </div>
            <div class="col-6">
                <SpentOnSellersCard />
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>

import AvailableBudgetCard from '@/dashboard/components/AvailableBudgetCard.vue';
import EarnedThisMonthCard from '@/dashboard/components/EarnedThisMonthCard.vue';
import RecentTransactionsCard from '@/dashboard/components/RecentTransactionsCard.vue';
import SpentOnCategoriesCard from '@/dashboard/components/SpentOnCategoriesCard.vue';
import SpentOnSellersCard from '@/dashboard/components/SpentOnSellersCard.vue';
import SpentThisMonthCard from '@/dashboard/components/SpentThisMonthCard.vue';
import UpcomingTransactionsCard from '@/dashboard/components/UpcomingTransactionsCard.vue';</script>

<style scoped>

</style>
