<template>
    <SetupStepTabWrapper :step="getSetupStep()"
                         title="What's your balance?">
        <BudgetForm :submit-is-loading="budgetCreateIsLoading" @submit="addBudget" />
    </SetupStepTabWrapper>
</template>

<script lang="ts" setup>
import BudgetForm from '@/budget/components/BudgetForm.vue';
import { CreateBudgetDto } from '@/budget/dtos/budget.dtos';
import { useBudgetStore } from '@/budget/store/budget.store';
import { StoreStatusEnum } from '@/config/constants/store.constants';
import { isDefined } from '@/shared/functions/validation.functions';
import SetupStepTabWrapper from '@/user/components/account-setup-components/SetupStepTabWrapper.vue';
import { SetupStepDto, SetupStepNameEnum } from '@/user/dtos/setup.dtos';
import { useSetupStore } from '@/user/store/setup.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';

const stepName = SetupStepNameEnum.BudgetStep;
const setupStore = useSetupStore();
const budgetStore = useBudgetStore();
const router = useRouter();

const { setupStepByName } = storeToRefs( setupStore );
const { budgetCreateIsLoading } = storeToRefs( budgetStore );

const getSetupStep = (): SetupStepDto | undefined => setupStepByName.value( stepName );

const addBudget = (data: CreateBudgetDto) => {
    budgetStore.createBudget( data );
};

onMounted( () => {
    if( !isDefined( getSetupStep() ) ) {
        router.push( { name: 'Setup' } );
    }
} );

budgetStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Balance saved successfully',
                           type   : 'success'
                       } );
            router.push( { name: 'SetupIncome' } );
        }
    }
} );


</script>

<style scoped>

</style>
