<template>
    <SetupStepTabWrapper :step="getSetupStep()"
                         title="Add your salary"
                         @skip-button-clicked="skipStep">
        <div style="margin-top: 25px">
            <SalaryIncomeRecurrenceForm :submit-is-loading="createIncomeRecurrenceIsLoading"
                                        @submit="addIncomeRecurrence" />
        </div>
    </SetupStepTabWrapper>
</template>

<script lang="ts" setup>
import { StoreStatusEnum } from '@/config/constants/store.constants';
import SalaryIncomeRecurrenceForm from '@/income/components/income-recurrence-components/SalaryIncomeRecurrenceForm.vue';
import { CreateIncomeRecurrenceDto } from '@/income/dtos/income-recurrence.dtos';
import { useIncomeRecurrenceStore } from '@/income/store/income-recurrence.store';
import { isDefined } from '@/shared/functions/validation.functions';
import SetupStepTabWrapper from '@/user/components/account-setup-components/SetupStepTabWrapper.vue';
import { SetupStepDto, SetupStepNameEnum } from '@/user/dtos/setup.dtos';
import { useSetupStore } from '@/user/store/setup.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';

const stepName = SetupStepNameEnum.IncomeStep;
const setupStore = useSetupStore();
const incomeRecurrenceStore = useIncomeRecurrenceStore();
const router = useRouter();

const { setupStepByName } = storeToRefs( setupStore );
const { createIncomeRecurrenceIsLoading } = storeToRefs( incomeRecurrenceStore );

const getSetupStep = (): SetupStepDto | undefined => setupStepByName.value( stepName );

const skipStep = () => setupStore.skipSetupStep( getSetupStep()!.id );

const addIncomeRecurrence = (data: CreateIncomeRecurrenceDto) => {
    incomeRecurrenceStore.createIncomeRecurrence( data, true );
};

onMounted( () => {
    if( !isDefined( getSetupStep() ) ) {
        router.push( { name: 'Setup' } );
    }
} );

setupStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.skip?.status === StoreStatusEnum.Success ) {
            router.push( { name: 'Dashboard' } );
        }
    }
} );

incomeRecurrenceStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Salary saved successfully',
                           type   : 'success'
                       } );
            router.push( { name: 'Dashboard' } );
        }
    }
} );
</script>

<style scoped>

</style>
