<template>
    <div class="custom-card">
        <el-tabs v-model="activeTabName">
            <el-tab-pane label="Expenses" name="expenses" v-loading="expensesTabIsLoading">
                <ExpenseList />
            </el-tab-pane>
            <el-tab-pane label="Recurrences" name="recurrences" v-loading="recurrencesTabIsLoading">
                <ExpenseRecurrenceList />
            </el-tab-pane>
            <el-tab-pane label="Reports" name="reports" :disabled="true"></el-tab-pane>
        </el-tabs>
    </div>
</template>

<script lang="ts" setup>
import ExpenseList from '@/expense/components/expense-components/ExpenseList.vue';
import ExpenseRecurrenceList from '@/expense/components/expense-recurrence-components/ExpenseRecurrenceList.vue';
import { useExpenseRecurrenceStore } from '@/expense/store/expense-recurrence.store';
import { useExpenseStore } from '@/expense/store/expense.store';
import { storeToRefs } from 'pinia';
import { computed, ref } from 'vue';

type TabName = 'expenses' | 'recurrences' | 'reports';
const activeTabName = ref<TabName>( 'expenses' );

const expenseStore = useExpenseStore();
const expenseRecurrenceStore = useExpenseRecurrenceStore();

const {
          expensesAreLoading,
          deleteExpenseIsLoading,
          createExpenseIsLoading,
          bulkDeleteExpensesIsLoading,
          bulkExcludeExpensesIsLoading
      } = storeToRefs( expenseStore );
const {
          createExpenseRecurrenceIsLoading,
          expenseRecurrencesAreLoading,
          deleteExpenseRecurrenceIsLoading
      } = storeToRefs( expenseRecurrenceStore );

const expensesTabIsLoading = computed( () => {
    return expensesAreLoading.value
        || deleteExpenseIsLoading.value
        || createExpenseIsLoading.value
        || bulkDeleteExpensesIsLoading.value
        || bulkExcludeExpensesIsLoading.value;
} );

const recurrencesTabIsLoading = computed( () => {
    return createExpenseRecurrenceIsLoading.value
        || expenseRecurrencesAreLoading.value
        || deleteExpenseRecurrenceIsLoading.value;
} );

</script>

<style scoped>

</style>
