<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4 mt-3">
            <h2 style="margin: 0">Incomes</h2>
            <div>
                <el-button type="primary" @click="openIncomeModalForCreate">Add income</el-button>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between w-100">
            <IncomeListFilters
                :filters="filters"
                @filters-change="onFiltersChange" />
        </div>
        <IncomeListTable
            :incomes="incomes"
            @income-delete-button-click="deleteIncome"
            @income-edit-button-click="openIncomeModalForEdit" />
        <IncomeListPagination
            :params="paginationParams"
            :total="totalIncomes"
            @params-change="onPaginationParamsChange" />
        <el-dialog v-model="incomeModalOpened"
                   width="40%"
                   top="3vh"
                   :title="incomeForEdit ? 'Update income' : 'Add new income'">
            <IncomeForm :submit-is-loading="createIncomeIsLoading || updateIncomeIsLoading"
                        :initial-values="incomeForEdit"
                        @create-income="createIncome"
                        @update-income="updateIncome" />
        </el-dialog>
    </div>
</template>

<script lang="ts" setup>
import { StoreStatusEnum } from '@/config/constants/store.constants';
import IncomeForm from '@/income/components/income-components/IncomeForm.vue';
import IncomeListFilters, { IncomeListFiltersDto } from '@/income/components/income-components/IncomeListFilters.vue';
import IncomeListPagination, { IncomeListPaginationParams } from '@/income/components/income-components/IncomeListPagination.vue';
import IncomeListTable from '@/income/components/income-components/IncomeListTable.vue';
import { CreateIncomeDto, IncomeDto, IncomeListQueryParamsDto, UpdateIncomeDto } from '@/income/dtos/income.dtos';
import { IncomeListQueryParamsCacheService } from '@/income/services/cache/income-list-query-params-cache.service';
import { useIncomeStore } from '@/income/store/income.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { onMounted, ref } from 'vue';

const incomeStore = useIncomeStore();
const { incomes, totalIncomes, createIncomeIsLoading, updateIncomeIsLoading } = storeToRefs( incomeStore );

const DEFAULT_PARAMS: IncomeListQueryParamsDto = { limit: 5, offset: 0 };
let params = IncomeListQueryParamsCacheService.load() ?? DEFAULT_PARAMS;
const filters = ref<IncomeListFiltersDto>(
    {
        searchQuery: params.searchQuery,
        fromDate   : params.fromDate,
        toDate     : params.toDate,
        fromValue  : params.fromValue,
        toValue    : params.toValue
    }
);
const paginationParams = ref<IncomeListPaginationParams>(
    {
        limit : params.limit,
        offset: params.offset
    }
);

const incomeModalOpened = ref<boolean>( false );
const incomeForEdit = ref<IncomeDto | undefined>( undefined );

const loadIncomes = (withParams?: IncomeListQueryParamsDto) => {
    incomeStore.loadIncomes( withParams ?? params );
    params = withParams ?? DEFAULT_PARAMS;
};

const onFiltersChange = (newFilters: IncomeListFiltersDto) => {
    filters.value = newFilters;
    loadIncomes( { ...newFilters, ...paginationParams.value } as IncomeListQueryParamsDto );
};

const onPaginationParamsChange = (newPaginationParams: IncomeListPaginationParams) => {
    paginationParams.value = newPaginationParams;
    loadIncomes( { ...newPaginationParams, ...filters.value } as IncomeListQueryParamsDto );
};

const createIncome = (data: CreateIncomeDto) => incomeStore.createIncome( data );
const deleteIncome = (income: IncomeDto) => incomeStore.deleteIncome( { id: income.id } );
const updateIncome = (data: UpdateIncomeDto) => incomeStore.updateIncome( data );

const openIncomeModal = () => {
    incomeModalOpened.value = true;
};

const openIncomeModalForCreate = (): void => {
    incomeForEdit.value = undefined;
    openIncomeModal();
};

const openIncomeModalForEdit = (income: IncomeDto): void => {
    incomeForEdit.value = income;
    openIncomeModal();
};

const closeIncomeModal = () => {
    incomeModalOpened.value = false;
    incomeForEdit.value = undefined;
};

onMounted( () => {
    loadIncomes();
} );

incomeStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            loadIncomes( params );
            closeIncomeModal();
            ElMessage( {
                           message: 'New income added successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            loadIncomes( params );
            closeIncomeModal();
            ElMessage( {
                           message: 'Income updated successfully',
                           type   : 'success'
                       } );
        }
        if( mutation.payload.delete?.status === StoreStatusEnum.Success ) {
            loadIncomes( params );
            ElMessage( {
                           message: 'Income deleted successfully',
                           type   : 'success'
                       } );
        }
    }
} );
</script>

<style scoped>

</style>
