<template>
    <div class="d-flex w-100 align-items-end justify-content-between">
        <el-collapse accordion style="width: 300px">
            <el-collapse-item name="filters">
                <template #title>
                    <el-icon class="header-icon">
                        <Operation />
                    </el-icon>
                    <span>Filters</span>
                </template>
                <div class="d-flex flex-column mb-4">
                    <h5>Filter by date interval:</h5>
                    <el-date-picker
                        v-model="dateRange"
                        type="daterange"
                        range-separator="To"
                        start-placeholder="Start date"
                        end-placeholder="End date"
                        size="small"
                        style="width: 80% !important"
                        @calendar-change="onDateRangeChange"
                        @change="onDateRangeChange" />
                </div>
                <div class="d-flex flex-column">
                    <h5>Filter by value range:</h5>
                    <div class="d-flex align-items-center justify-content-start">
                        <el-input-number v-model="fromValue"
                                         placeholder="From value"
                                         size="small"
                                         controls-position="right"
                                         :step="0.1"
                                         :step-strictly="true"
                                         :precision="2"
                                         :min="0"
                                         @change="onFromValueChange"
                                         style="margin-right: 1rem" />
                        <el-input-number v-model="toValue"
                                         placeholder="To value"
                                         size="small"
                                         controls-position="right"
                                         :step="0.1"
                                         :step-strictly="true"
                                         :precision="2"
                                         :min="0"
                                         @change="onToValueChange" />
                    </div>
                </div>
                <el-button v-if="hasAnyFiltersApplied()"
                           size="small"
                           plain
                           @click="clearAllFilters"
                           class="mt-4">Clear all filters
                </el-button>
            </el-collapse-item>
        </el-collapse>
        <el-input v-model="searchQuery"
                  placeholder="Search by name or source"
                  class="mb-3"
                  style="width: 300px" />
    </div>
</template>

<script lang="ts" setup>
import { IncomeListQueryParamsDto } from '@/income/dtos/income.dtos';
import { formatDate } from '@/shared/functions/date.functions';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { isDefined, valueIsEmpty } from '@/shared/functions/validation.functions';
import { Operation } from '@element-plus/icons-vue';
import { ref, watch } from 'vue';

export type IncomeListFiltersDto = Pick<IncomeListQueryParamsDto, 'searchQuery' | 'fromDate' | 'toDate' | 'fromValue' | 'toValue'>

const props = defineProps<{
    filters: IncomeListFiltersDto
}>();

const emit = defineEmits<{
    (e: 'filtersChange', filters: IncomeListFiltersDto): void,
}>();

const filters = ref<IncomeListFiltersDto>( props.filters );

const searchQuery = ref<string>( filters.value.searchQuery ?? '' );
const dateRange = ref( [ filters.value.fromDate ?? null, filters.value.toDate ?? null ] );
const fromValue = ref( parseIntegerMoneyValueToDecimalString( filters.value.fromValue ) );
const toValue = ref( parseIntegerMoneyValueToDecimalString( filters.value.toValue ) );

const onFiltersChange = () => emit( 'filtersChange', filters.value );

const onDateRangeChange = (dateRange: Date[] | null) => {
    const [ fromDate, toDate ] = dateRange ?? [ null, null ];
    filters.value.fromDate = formatDate( fromDate );
    filters.value.toDate = formatDate( toDate );
    onFiltersChange();
};

const onFromValueChange = (value: number) => {
    filters.value.fromValue = value * 100;
    onFiltersChange();
};

const onToValueChange = (value: number) => {
    filters.value.toValue = value * 100;
    onFiltersChange();
};

const hasAnyFiltersApplied = (): boolean => {
    return dateRange.value.some( isDefined )
        || isDefined( fromValue.value )
        || isDefined( toValue.value )
        || !valueIsEmpty( searchQuery.value );
};

const clearAllFilters = () => {
    filters.value = {};
    dateRange.value = [ null, null ];
    fromValue.value = null;
    toValue.value = null;
    searchQuery.value = '';
    onFiltersChange();
};

watch( searchQuery, (query: string, _) => {
    filters.value.searchQuery = query;
    onFiltersChange();
} );
</script>

<style scoped>

</style>
