<template>
    <div class="d-flex align-items-center justify-content-center mt-3">
        <el-pagination background
                       layout="total, sizes, prev, pager, next"
                       :total="props.total"
                       v-model:page-size="params.limit"
                       v-model:current-page="currentPage"
                       :page-sizes="[5, 10, 25, 50, 100]"
                       @size-change="onPageSizeChange"
                       @current-change="onCurrentPageChange" />
    </div>
</template>

<script lang="ts" setup>
import { IncomeListQueryParamsDto } from '@/income/dtos/income.dtos';
import { calculateCurrentPage, calculateOffset } from '@/shared/functions/pagination.functions';
import { ref, toRefs } from 'vue';

export type IncomeListPaginationParams = Pick<IncomeListQueryParamsDto, 'limit' | 'offset'>;

const props = defineProps<{
    total: number,
    params: IncomeListPaginationParams
}>();

const emit = defineEmits<{
    (e: 'paramsChange', params: IncomeListPaginationParams): void
}>();

const { params } = toRefs( props );

const currentPage = ref<number>( calculateCurrentPage( props.params.limit!, props.params.offset! ) );

const onParamsChange = () => emit( 'paramsChange', params.value );

const onPageSizeChange = (_: number) => {
    params.value.offset = calculateOffset( currentPage.value, params.value.limit! );
    onParamsChange();
};

const onCurrentPageChange = (_: number) => {
    params.value.offset = calculateOffset( currentPage.value, params.value.limit! );
    onParamsChange();
};
</script>

<style scoped>
</style>
