<template>
    <el-form ref="formRef"
             v-if="form"
             :model="form"
             :rules="rules"
             label-position="top"
             size="default"
             :disabled="props.submitIsLoading">
        <el-form-item label="Name" prop="name">
            <el-input v-model="form.name" clearable />
        </el-form-item>
        <el-form-item label="Value" prop="value">
            <el-input v-model.number="form.value"
                      placeholder="Value"
                      type="number"
                      :min="0"
                      step=".01"
                      inputmode="decimal"
                      clearable>
                <template #append>RON</template>
            </el-input>
        </el-form-item>
        <el-form-item label="Date" prop="date">
            <el-date-picker v-model="form.date"
                            type="date"
                            placeholder="Pick a date"
                            :disabled-date="disabledDates"
                            clearable />
        </el-form-item>
        <el-form-item label="Source" prop="source">
            <el-input v-model="form.source" clearable />
        </el-form-item>
        <el-form-item>
            <el-button type="primary"
                       :disabled="props.submitIsLoading"
                       :loading="props.submitIsLoading"
                       @click="submitForm(formRef)" :icon="Check">Save
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts" setup>
import { StoreStatusEnum } from '@/config/constants/store.constants';
import { CreateIncomeDto, IncomeDto, UpdateIncomeDto } from '@/income/dtos/income.dtos';
import { useIncomeStore } from '@/income/store/income.store';
import { formatDate } from '@/shared/functions/date.functions';
import { parseDecimalMoneyValueToInteger, parseIntegerMoneyValueToDecimal } from '@/shared/functions/money.functions';
import { isDefined } from '@/shared/functions/validation.functions';
import { Check } from '@element-plus/icons-vue';
import type { FormInstance, FormRules } from 'element-plus';
import { MutationType } from 'pinia';
import { ref, watch } from 'vue';

const props = defineProps<{
    submitIsLoading: boolean,
    initialValues?: IncomeDto
}>();
const emit = defineEmits<{
    (e: 'createIncome', data: CreateIncomeDto): void,
    (e: 'updateIncome', data: UpdateIncomeDto): void,
}>();

const incomeStore = useIncomeStore();

const setForm = (): void => {
    resetForm();
    form.value = {
        name  : props.initialValues?.name ?? '',
        date  : formatDate( props.initialValues?.date ) ?? null,
        source: props.initialValues?.source ?? null,
        value : parseIntegerMoneyValueToDecimal( props.initialValues?.value ) ?? null
    };
};

const resetForm = (): void => {
    formRef.value?.resetFields();
    formRef.value?.clearValidate();
};

const formRef = ref<FormInstance>();
const form = ref<CreateIncomeDto>();
const rules: FormRules = {
    name : [ { required: true, message: 'Required field', trigger: [ 'blur', 'change', 'input' ] } ],
    date : [ { required: true, message: 'Required field', trigger: 'blur' } ],
    value: [ { type: 'number', required: true, message: 'Required field', trigger: [ 'blur', 'change', 'input' ] } ]
};

setForm();

const disabledDates = (date: Date) => date.getTime() > Date.now();

const isUpdateForm = (): boolean => isDefined( props.initialValues );

const submitForm = (formEl?: FormInstance) => {
    formEl?.validate( (valid) => {
        if( valid ) {
            let data: CreateIncomeDto | UpdateIncomeDto = {
                ...form.value!,
                date : formatDate( form.value!.date )!,
                value: parseDecimalMoneyValueToInteger( form.value!.value )
            };
            if( !isUpdateForm() ) {
                emit( 'createIncome', data as CreateIncomeDto );
                return;
            }
            emit( 'updateIncome', { ...data, id: props.initialValues!.id } as UpdateIncomeDto );
        }
    } );
};

incomeStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
    }
} );

watch( () => props.initialValues, () => {
    setForm();
} );

</script>

<style scoped>

</style>
