<template>
    <el-table :data="props.incomes"
              ref="incomesTable"
              class="w-100 mt-3"
              table-layout="auto">
        <el-table-column prop="name" label="Name">
            <template #default="scope">
                <div class="d-flex align-items-center justify-content-start">
                    <span>{{ scope.row.name }}</span>
                    <el-tooltip v-if="scope.row.excludeFromBudget"
                                content="Excluded from budget"
                                placement="top">
                        <el-icon :size="15" style="color: #F56C6C; margin-left: 5px">
                            <CircleClose />
                        </el-icon>
                    </el-tooltip>
                    <el-tooltip v-if="scope.row.recurrence"
                                content="Added from recurrence"
                                placement="top">
                        <el-icon :size="15" style="color: #67C23A; margin-left: 5px">
                            <Refresh />
                        </el-icon>
                    </el-tooltip>
                </div>
            </template>
        </el-table-column>
        <el-table-column label="Date" :formatter="dateFormatter" />
        <el-table-column prop="source" label="Source" />
        <el-table-column label="Value">
            <template #default="scope"><strong>{{ incomeValueFormatter(scope.row) }}</strong></template>
        </el-table-column>
        <el-table-column label="Operations">
            <template #default="scope">
                <el-button
                    :icon="Edit"
                    circle
                    plain
                    @click="onEditButtonClick(scope.$index, scope.row)"
                    :disabled="false"></el-button>
                <el-popconfirm
                    title="Are you sure to delete this income?"
                    confirm-button-text="Yes"
                    cancel-button-text="No"
                    :icon="WarningFilled"
                    icon-color="#f56c6c"
                    @confirm="onDeleteButtonClick(scope.$index, scope.row)">
                    <template #reference>
                        <el-button
                            type="danger"
                            :icon="Delete"
                            circle
                            plain></el-button>
                    </template>
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>
</template>

<script lang="ts" setup>
import { IncomeDto } from '@/income/dtos/income.dtos';
import { DateFormat } from '@/shared/enums/date-format.enum';
import { formatDate } from '@/shared/functions/date.functions';
import { parseIntegerMoneyValueToDecimalString } from '@/shared/functions/money.functions';
import { CircleClose, Delete, Edit, Refresh, WarningFilled } from '@element-plus/icons-vue';
import { ElTable } from 'element-plus/es';
import { ref } from 'vue';

const props = defineProps<{
    incomes: IncomeDto[],
}>();
const emit = defineEmits<{
    (e: 'incomeEditButtonClick', income: IncomeDto): void,
    (e: 'incomeDeleteButtonClick', income: IncomeDto): void
}>();

const incomesTable = ref<InstanceType<typeof ElTable>>();

const incomeValueFormatter = (income: IncomeDto): string => {
    return `RON ${ parseIntegerMoneyValueToDecimalString( income.value ) }`;
};

const dateFormatter = (expense: IncomeDto): string | undefined => {
    return formatDate( expense.date, DateFormat.ForDisplay );
};

const onEditButtonClick = (_: number, income: IncomeDto) => emit( 'incomeEditButtonClick', income );

const onDeleteButtonClick = (_: number, income: IncomeDto) => emit( 'incomeDeleteButtonClick', income );
</script>

<style scoped>

</style>
