<template>
    <div>
        <div class="d-flex align-items-center justify-content-between mb-4 mt-3">
            <h2 style="margin: 0">Recurrences</h2>
            <div>
                <el-button type="primary" @click="openExpenseRecurrenceModal">Create recurrence</el-button>
            </div>
        </div>
        <ExpenseRecurrenceListTable :recurrences="expenseRecurrences"
                                    @recurrence-delete-button-click="deleteExpenseRecurrence"
                                    @recurrence-edit-button-click="openExpenseRecurrenceModalForEdit"
                                    @recurrence-status-changed="updateExpenseRecurrenceStatus" />
        <el-dialog v-model="expenseRecurrenceModalOpened"
                   width="40%"
                   top="3vh"
                   :title="expenseRecurrenceForEdit ? 'Update recurring expense' : 'Create new recurring expense'"
                   @closed="closeExpenseRecurrenceModal">
            <ExpenseRecurrenceForm :submit-is-loading="createExpenseRecurrenceIsLoading || updateExpenseRecurrenceIsLoading"
                                   :initial-values="expenseRecurrenceForEdit"
                                   @create-expense-recurrence="createExpenseRecurrence"
                                   @update-expense-recurrence="updateExpenseRecurrence" />
        </el-dialog>
    </div>
</template>

<script lang="ts" setup>

import { StoreStatusEnum } from '@/config/constants/store.constants';
import ExpenseRecurrenceForm from '@/expense/components/expense-recurrence-components/ExpenseRecurrenceForm.vue';
import ExpenseRecurrenceListTable from '@/expense/components/expense-recurrence-components/ExpenseRecurrenceListTable.vue';
import { CreateExpenseRecurrenceDto, ExpenseRecurrenceDto, UpdateExpenseRecurrenceDto, UpdateExpenseRecurrenceStatusDto } from '@/expense/dtos/expense-recurrence.dtos';
import { useExpenseRecurrenceStore } from '@/expense/store/expense-recurrence.store';
import { ElMessage } from 'element-plus/es';
import { MutationType, storeToRefs } from 'pinia';
import { onMounted, ref } from 'vue';

const expenseRecurrenceStore = useExpenseRecurrenceStore();
const { createExpenseRecurrenceIsLoading, expenseRecurrences, updateExpenseRecurrenceIsLoading } = storeToRefs( expenseRecurrenceStore );

const expenseRecurrenceModalOpened = ref<boolean>( false );
const expenseRecurrenceForEdit = ref<ExpenseRecurrenceDto | undefined>( undefined );

const createExpenseRecurrence = (data: CreateExpenseRecurrenceDto) => {
    expenseRecurrenceStore.createExpenseRecurrence( data );
};

const updateExpenseRecurrence = (data: UpdateExpenseRecurrenceDto) => {
    expenseRecurrenceStore.updateExpenseRecurrence( data );
};

const deleteExpenseRecurrence = (data: ExpenseRecurrenceDto) => {
    expenseRecurrenceStore.deleteExpenseRecurrence( { id: data.id } );
};

const updateExpenseRecurrenceStatus = (data: UpdateExpenseRecurrenceStatusDto): void => {
    expenseRecurrenceStore.updateExpenseRecurrenceStatus( data );
};

const openExpenseRecurrenceModal = () => {
    expenseRecurrenceModalOpened.value = true;
};

const openExpenseRecurrenceModalForEdit = (expenseRecurrence: ExpenseRecurrenceDto) => {
    expenseRecurrenceForEdit.value = expenseRecurrence;
    openExpenseRecurrenceModal();
};

const closeExpenseRecurrenceModal = () => {
    expenseRecurrenceModalOpened.value = false;
    expenseRecurrenceForEdit.value = undefined;
};

expenseRecurrenceStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            closeExpenseRecurrenceModal();
            ElMessage( {
                           message: 'Recurring expense created successfully',
                           type   : 'success'
                       } );
        }

        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            closeExpenseRecurrenceModal();
            ElMessage( {
                           message: 'Recurring expense updated successfully',
                           type   : 'success'
                       } );
        }

        if( mutation.payload.updateStatus?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Recurring expense status updated successfully',
                           type   : 'success'
                       } );
        }

        if( mutation.payload.delete?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Recurring expense deleted successfully',
                           type   : 'success'
                       } );
        }
    }

} );

onMounted( () => {
    expenseRecurrenceStore.loadAllExpenseRecurrences();
} );

</script>

<style scoped>

</style>
