<template>
    <el-form v-if="form"
             ref="formRef"
             :model="form"
             :rules="rules"
             label-position="top"
             size="default"
             :disabled="props.submitIsLoading">
        <el-form-item label="Name" prop="name">
            <el-input v-model="form.name" clearable />
        </el-form-item>
        <el-form-item label="Value" prop="value">
            <el-input v-model.number="form.value"
                      placeholder="Value"
                      type="number"
                      :min="0"
                      step=".01"
                      inputmode="decimal"
                      clearable>
                <template #append>RON</template>
            </el-input>
        </el-form-item>
        <el-form-item label="Seller" prop="seller">
            <el-autocomplete v-model="sellerName"
                             value-key="name"
                             :fetch-suggestions="sellerSearch"
                             :debounce="300"
                             :trigger-on-focus="false"
                             placeholder="Search/add seller"
                             @select="handleSellerSelect"
                             clearable>
                <template #default="{item}">
                    <div class="value">{{ item.name }}</div>
                </template>
            </el-autocomplete>
        </el-form-item>
        <el-form-item label="Category" prop="category">
            <el-autocomplete v-model="categoryName"
                             value-key="name"
                             :fetch-suggestions="categorySearch"
                             :trigger-on-focus="true"
                             placeholder="Select category"
                             @select="handleCategorySelect"
                             clearable>
                <template #default="{item}">
                    <div class="value">{{ item.name }}</div>
                </template>
            </el-autocomplete>
        </el-form-item>
        <el-form-item label="Recurrence">
            <el-radio-group v-model="recurrenceType">
                <el-radio label="daily" v-model="form.daily">Daily</el-radio>
                <el-radio label="weekly">Weekly</el-radio>
                <el-radio label="monthly">Monthly</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="Weekly on" prop="weeklyOn" v-if="recurrenceType === 'weekly'">
            <el-select v-model="form.weeklyOn" placeholder="Select day" clearable>
                <el-option
                    v-for="option of weekDaysOptions()"
                    :key="option.value"
                    :label="option.label"
                    :value="option.value" />
            </el-select>
        </el-form-item>
        <el-form-item label="Monthly on" prop="monthlyOn" v-if="recurrenceType === 'monthly'">
            <el-input-number v-model="form.monthlyOn" :min="1" :max="28" :step="1" />
        </el-form-item>
        <el-form-item prop="excludeFromBudget">
            <el-checkbox v-model="form.excludeFromBudget" label="Exclude from budget" />
        </el-form-item>
        <el-form-item>
            <el-button type="primary"
                       :disabled="props.submitIsLoading"
                       :loading="props.submitIsLoading"
                       @click="submitForm(formRef)" :icon="Check">Save
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script lang="ts" setup>
import { CategoryDto } from '@/category/dtos/category.dtos';
import { useCategoryStore } from '@/category/store/category.store';
import { StoreStatusEnum } from '@/config/constants/store.constants';
import { CreateExpenseRecurrenceDto, ExpenseRecurrenceDto, UpdateExpenseRecurrenceDto } from '@/expense/dtos/expense-recurrence.dtos';
import { useExpenseStore } from '@/expense/store/expense.store';
import { SellerDto } from '@/seller/dtos/seller.dtos';
import { useSellerStore } from '@/seller/store/seller.store';
import { WeekDayEnum } from '@/shared/enums/week-day.enum';
import { parseIntegerMoneyValueToDecimal } from '@/shared/functions/money.functions';
import { isDefined, valueIsEmpty } from '@/shared/functions/validation.functions';
import { Check } from '@element-plus/icons-vue';
import type { FormInstance, FormRules } from 'element-plus';
import { MutationType, storeToRefs } from 'pinia';
import { computed, onMounted, reactive, Ref, ref, watch } from 'vue';

type RecurrenceType = 'daily' | 'weekly' | 'monthly';
type SelectOption = { value: string, label: string };

const props = defineProps<{
    submitIsLoading: boolean,
    initialValues?: ExpenseRecurrenceDto
}>();
const emit = defineEmits<{
    (e: 'createExpenseRecurrence', data: CreateExpenseRecurrenceDto): void,
    (e: 'updateExpenseRecurrence', data: UpdateExpenseRecurrenceDto): void,
}>();

const sellerStore = useSellerStore();
const categoryStore = useCategoryStore();
const expenseRecurrenceStore = useExpenseStore();

const { list: categoryList } = storeToRefs( categoryStore );

const setForm = (): void => {
    resetForm();
    sellerName.value = props.initialValues?.seller?.name ?? '';
    categoryName.value = props.initialValues?.category?.name ?? '';
    recurrenceType.value = recurrenceTypeFromInitialValues();
    form.value = {
        name             : props.initialValues?.name ?? '',
        value            : parseIntegerMoneyValueToDecimal( props.initialValues?.value ) ?? null,
        excludeFromBudget: props.initialValues?.excludeFromBudget ?? false,
        sellerId         : props.initialValues?.seller?.id ?? null,
        sellerName       : props.initialValues?.seller?.name ?? null,
        categoryId       : props.initialValues?.category?.id ?? null,
        daily            : props.initialValues?.daily ?? false,
        weeklyOn         : props.initialValues?.weeklyOn ?? null,
        monthlyOn        : props.initialValues?.monthlyOn ?? null
    };
};

const resetForm = (): void => {
    formRef.value?.resetFields();
    formRef.value?.clearValidate();
    sellerName.value = '';
    categoryName.value = '';
    recurrenceType.value = 'daily';
};

const recurrenceTypeFromInitialValues = (): RecurrenceType => {
    if( !isDefined( props.initialValues ) || props.initialValues.daily ) {
        return 'daily';
    }
    if( props.initialValues.weeklyOn ) {
        return 'weekly';
    }
    return 'monthly';
};

const formRef = ref<FormInstance>();
const form = ref<CreateExpenseRecurrenceDto>();

const sellerName: Ref<string> = ref( '' );
const categoryName: Ref<string> = ref( '' );

const recurrenceType = ref<RecurrenceType>( recurrenceTypeFromInitialValues() );

setForm();

const rules: FormRules = reactive(
    {
        name      : [
            {
                required: true, message: 'Required field',
                trigger                : [ 'blur', 'change', 'input' ]
            }
        ],
        value     : [
            {
                type: 'number', required: true, message: 'Required field',
                trigger                                : [ 'blur', 'change', 'input' ]
            }
        ],
        categoryId: [
            {
                required: true, message: 'Required field',
                trigger                : [ 'blur', 'change', 'input' ]
            }
        ],
        weeklyOn  : [
            {
                required: recurrenceType.value === 'weekly', message: 'Required field',
                trigger                                             : [ 'blur', 'change', 'input' ]
            }
        ],
        monthlyOn : [
            {
                required: recurrenceType.value === 'monthly', message: 'Required field',
                trigger                                              : [ 'blur', 'change', 'input' ]
            }
        ]
    } );

const weekDaysOptions = (): SelectOption[] => {
    const weekDaysKeys = Object.keys( WeekDayEnum )
                               .slice( 7 );
    const weekDaysValues = Object.values( WeekDayEnum )
                                 .slice( 7 );
    return weekDaysKeys.map( (key, index) => (
        { label: key, value: weekDaysValues[index].toString() }
    ) );
};

const sellerSearch = async (queryString: string, cb: (arg: any) => void) => {
    const sellers = await sellerStore.searchSellers( queryString );
    form.value!.sellerName = null;
    form.value!.sellerId = null;
    cb( sellers );
};

const handleSellerSelect = (seller: SellerDto) => {
    form.value!.sellerId = seller.id;
};

const categorySearch = (queryString: string | null, cb: (arg: any) => void) => {
    const categories =
              !isDefined( queryString )
              ? categoryList.value
              : categoryList.value.filter( category => category.name.toLowerCase()
                                                               .indexOf( queryString.toLowerCase() ) === 0 );
    cb( categories );
};

const handleCategorySelect = (category: CategoryDto) => {
    form.value!.categoryId = category.id;
};

const isUpdateForm = computed( () => isDefined( props.initialValues ) );

const submitForm = (formEl?: FormInstance) => {
    formEl?.validate( (valid) => {
        if( valid ) {
            if( !isDefined( form.value!.sellerId ) && !valueIsEmpty( sellerName.value ) ) {
                form.value!.sellerName = sellerName.value;
            }
            let data: CreateExpenseRecurrenceDto | UpdateExpenseRecurrenceDto = {
                ...form.value!,
                daily   : recurrenceType.value === 'daily',
                weeklyOn: recurrenceType.value === 'weekly'
                          ? parseInt( form.value!.weeklyOn!.toString() )
                          : null,
                value   : Math.round( form.value!.value! * 100 )
            };
            if( !data.daily && !data.weeklyOn && !data.monthlyOn ) {
                return;
            }
            if( !isUpdateForm.value ) {
                emit( 'createExpenseRecurrence', data as CreateExpenseRecurrenceDto );
                return;
            }
            data = { id: props.initialValues!.id, ...data };
            emit( 'updateExpenseRecurrence', data as UpdateExpenseRecurrenceDto );
        }
    } );
};

expenseRecurrenceStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.create?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
        if( mutation.payload.update?.status === StoreStatusEnum.Success ) {
            resetForm();
        }
    }
} );

onMounted( () => {
    categoryStore.loadAllExpenseCategories();
    setForm();
} );

watch( () => props.initialValues, (newValue, _) => {
    setForm();
} );

</script>

<style scoped>

</style>
