<template>
    <div style="display: flex; justify-content: center; margin-top: 4rem">
        <div style="width: 40%"></div>
        <div
            style="width: 20%; background: #ecf5ff; padding: 25px 20px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;">
            <h2 style="margin-top: 0; margin-bottom: 2rem; text-align: center">{{
                    authTypeIsLogin() ? 'Login' : 'Create account' }}</h2>
            <LoginForm v-if="authTypeIsLogin()"
                       :submit-is-loading="authStore.loginIsLoading"
                       :server-error="authStore.loginError"
                       @submit="login" />
            <RegisterUserForm v-else
                              :submit-is-loading="userStore.registerUserIsLoading"
                              :server-error="userStore.registerUserError"
                              @submit="registerUser" />
            <p style="margin: 0; text-align: center">
            <span style="margin-right: 0.2rem; font-size: 14px; text-align: center">{{
                    authTypeIsLogin() ? "Don't have an account yet?" : "Already have an account?" }}</span>
                <el-button link type="primary" @click="toggleAuthType">{{ authTypeIsLogin() ? "Register" : "Login" }}
                </el-button>
            </p>
        </div>
        <div style="width: 40%"></div>
    </div>
</template>

<script lang="ts" setup>
import LoginForm, { LoginFormData } from '@/auth/components/LoginForm.vue';
import { useAuthStore } from '@/auth/store/auth.store';
import { StoreStatusEnum } from '@/config/constants/store.constants';
import RegisterUserForm, { RegisterUserFormData } from '@/user/components/user-components/RegisterUserForm.vue';
import { useUserStore } from '@/user/store/user.store';
import { ElMessage } from 'element-plus/es';
import { MutationType } from 'pinia';
import { ref, Ref } from 'vue';
import { useRouter } from 'vue-router';

type AuthType = 'login' | 'register';

const authStore = useAuthStore();
const userStore = useUserStore();
const router = useRouter();

const authType: Ref<AuthType> = ref( 'login' );

const authTypeIsLogin = (): boolean => authType.value === 'login';
const toggleAuthType = (): void => {
    authType.value = authTypeIsLogin()
                     ? 'register'
                     : 'login';
};

const login = (data: LoginFormData) => authStore.login( data );
const registerUser = (data: RegisterUserFormData) => userStore.registerUser( { ...data, password: data.password1 } );

authStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.login?.status === StoreStatusEnum.Success ) {
            router.push( { name: 'Dashboard' } );
        }
    }
} );
userStore.$subscribe( (mutation, _) => {
    if( mutation.type === MutationType.patchObject ) {
        if( mutation.payload.register?.status === StoreStatusEnum.Success ) {
            ElMessage( {
                           message: 'Account created successfully',
                           type   : 'success'
                       } );
            toggleAuthType();
        }
    }
} );
</script>

<style scoped>

</style>
