<template>
    <div>
        <el-container>
            <el-header v-if="!isAuthenticated"
                       class="bg-body d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div>
                        <h2 class="m-0" role="button" @click="router.push({name: 'Home'})">XPNSTRKR</h2>
                    </div>
                    <el-button type="primary" v-if="!isAuthenticated" @click="router.push( { name: 'Auth' } )">Login
                    </el-button>
                </div>
            </el-header>
            <el-container>
                <el-aside width="200px" v-if="isAuthenticated && setupIsComplete" class="h-100 py-2 px-4">
                    <div class="mt-3 mx-0 d-flex flex-column align-items-start justify-content-between menu-item bg-white" style="cursor: default;">
                        <div class="d-flex align-items-center justify-content-start mb-2">
                            <el-avatar size="small" :icon="UserFilled" />
                            <h4 class="m-0 small" style="margin-left: 14px">{{ loggedUsername }}</h4>
                        </div>
                        <el-button size="small" plain type="danger" @click="logout()">Logout</el-button>
                    </div>
                    <div :class="isRouteActive('Dashboard') ? 'menu-item active' : 'menu-item'"
                         @click="router.push({name: 'Dashboard'})">
                        <span>Dashboard</span>
                    </div>
                    <div :class="isRouteActive('ExpenseList') ? 'menu-item active' : 'menu-item'"
                         @click="router.push({name: 'ExpenseList'})">
                        <span>Expenses</span>
                    </div>
                    <div :class="isRouteActive('IncomeList') ? 'menu-item active' : 'menu-item'"
                         @click="router.push({name: 'IncomeList'})">
                        <span>Incomes</span>
                    </div>
                </el-aside>
                <el-main class="pt-4">
                    <RouterView />
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/auth/store/auth.store';
import { useSetupStore } from '@/user/store/setup.store';
import { useUserStore } from '@/user/store/user.store';
import { UserFilled } from '@element-plus/icons-vue';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';

const authStore = useAuthStore();
const userStore = useUserStore();
const setupStore = useSetupStore();
const router = useRouter();

const { isAuthenticated } = storeToRefs( authStore );
const { loggedUsername } = storeToRefs( userStore );
const { setupIsComplete } = storeToRefs( setupStore );

const logout = () => authStore.logout();

const isRouteActive = (routeName: string): boolean => router.currentRoute.value.name === routeName;
</script>
