html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: rgb(247 247 247)
}

h2 {
    font-size: 26px;
}

h5 {
    font-size: 13px;
}
