.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.menu-item.active, .menu-item.active:hover {
    background: white;
    cursor: default;
    color: #409eff;
}

.menu-item.active > span {
    font-weight: bold;
}

.menu-item:hover {
    background: #E2E2E2FF
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.custom-card {
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    background: white;
    width: 100%;
}

.dashboard-card {
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    background: white;
    width: 100%;
    height: 100%;
}
