.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
    margin-bottom: 0 !important;
    line-height: 22px !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper, .el-autocomplete, .el-input__wrapper {
    width: 100% !important;
}

.el-input__wrapper {
    width: 96%;
}

.el-input-number .el-input__inner {
    text-align: left !important;
}
