<template>
    <FormGenerator :fields="fields"
                   :loading="isLoading"
                   label-position="top"
                   @submit="onSubmit"
                   hide-labels />
</template>

<script lang="ts" setup>
import { CreateBudgetDto } from '@/budget/dtos/budget.dtos';
import FormGenerator from '@/shared/components/forms/helpers/FormGenerator.vue';
import { moneyInputProps } from '@/shared/functions/input-props.functions';
import { FormFields } from '@/shared/types/form.types';
import { computed } from 'vue';

const props = defineProps<{
    submitIsLoading: boolean
}>();
const emit = defineEmits<{
    (e: 'submit', data: CreateBudgetDto): void
}>();

const isLoading = computed( () => props.submitIsLoading );

const fields: FormFields<CreateBudgetDto> = {
    availableSum: moneyInputProps<CreateBudgetDto>( 'Balance', 'availableSum' )
};

const onSubmit = (data: CreateBudgetDto) => emit( 'submit', data );
</script>

<style scoped>

</style>
